[2020-12-23 02:07] birdiesanders opened #3 "Branch move to Main from Master breaks the "bleeding edge install""
You are asking us to pull from the master branch, but you only have a main.

[2020-12-23 02:13] birdiesanders opened #5 "Main branch has dependency listed as <3.9 for python, which breaks on Arch which calls it 3.9.0"
A minor tweak to the deps should fix it up.

[2020-12-23 02:21] birdiesanders commented on #5
Scratch that, I just noticed you aren't supporting 3.9 yet. A bummer, as I was really wanting to use this on my local machine because it has a real-man GPU in it.

[2020-12-23 06:03] hamzamaiot commented on #3
Fixed by editing install instruction on PR #4 here and also at the docs: https://docs.zenml.io/getting-started/installation. Thank you for bringing it to our attention

[2020-12-23 06:08] hamzamaiot commented on #5
Thanks for fix. Regarding Python 3.9.0, some of the dependencies we have do not support it currently. We are working hard to support it soon. Is it possible for you to use the GPU in the meanwhile using <3.9.0?

[2020-12-23 06:08] #3 closed

[2020-12-27 10:56] #5 closed

[2020-12-27 10:56] hamzamaiot commented on #5
@birdiesanders I opened up the Discussions tab on GitHub so we can have that discussion on the forum, rather than the issue board. Feel free to open up the Python 3.9 topic on there if you're still interested!

[2021-01-12 15:15] cx-mab opened #12 "Add Google's Model card toolkit support to collect the model metrics and build the model documentation automatically"
**Is your feature request related to a problem? Please describe.**

Using this [Toolkit](https://ai.googleblog.com/2020/07/introducing-model-card-toolkit-for.html) will help users of zenml align with best practices in the industry for model reporting. This will also help with increased transparency in the workflow and being more accountable towards the stakeholders in the project and the users.

A

[2021-01-15 13:59] bonacciog opened #13 "[BUG] CSV Datasource error"
**Describe the bug**
I'm not able to getting started with quickstart example pipeline.
Trying to run:
ds = CSVDatasource(name='Pima Indians Diabetes Dataset', path='gs://zenml_quickstart/diabetes.csv')

**To Reproduce**
I have followed QuickStart steps:
1. pip install zenml
2. zenml init
3. Run the QuickStart example

**Screenshots**
<img width="852" alt="Schermata 2021-01-15 alle 14 56 56" src="h

[2021-01-15 14:03] hamzamaiot commented on #13
Thanks for reporting @bonacciog ! Could you please verify that your `pipelines_dir` does not contain any YAML files from older runs of ZenML. This might be due to a non-backwards compatible upgrade of the YAML standard from 0.1.2 to 0.1.3

[2021-01-15 14:10] bonacciog commented on #13
@hamzamaiot Thanks for your reply!

<img width="568" alt="Schermata 2021-01-15 alle 15 08 40" src="https://user-images.githubusercontent.com/45511179/104736680-9b02a800-5743-11eb-929a-772b6c7e185e.png">

It does't seem there is an YAML file. Is this screenshot enough?

[2021-01-15 14:16] hamzamaiot commented on #13
Could you check in the `pipelines` directory?

[code]

[2021-01-15 14:33] bonacciog commented on #13
<img width="517" alt="Schermata 2021-01-15 alle 15 32 31" src="https://user-images.githubusercontent.com/45511179/104739368-e9fe0c80-5746-11eb-9d5b-be03f8a0e818.png">

[2021-01-15 15:20] hamzamaiot commented on #13
ah yes, I see the bug. The `Untitle.ipynb` file should not exist in the `pipelines` directory. Actually, nothing should exist in the `pipelines` directory except the pipeline YAML configurations -> Thats a condition we should be catching in the code so thanks for bringing it up!

Your immediate solution would be to move the `Untitled.ipynb` out into the `root` and try again. It should hopefully wo

[2021-01-15 15:39] bonacciog commented on #13
Thank you for your help @hamzamaiot!

I have created that file, so my mistake.
Now the dir is organized in this way:
<img width="569" alt="Schermata 2021-01-15 alle 16 35 38" src="https://user-images.githubusercontent.com/45511179/104746568-bd9abe00-574f-11eb-95fa-49fef3b6b435.png">

I have created the dir "notebooks" and file QuickStart.ipynb to start with QuickStart example.

Now I got another e

[2021-01-15 15:41] bonacciog commented on #13
Maybe I have to work outside of subdirectories (notebooks, pipelines..) ? @hamzamaiot

[2021-01-15 15:55] htahir1 commented on #13
Sorry switching accounts. Now the error is clearer - the datasource already exists so you can either fetch it in your script using the `repository.get_datasource_by_name()` . The repository instance can be fetched by using `Repository.get_instance()` .

Or to start from scratch just delete the `pipelines` directory and it will work 👍

[2021-01-15 16:02] bonacciog commented on #13
Thank you! @htahir1
Now it is working fine! My mistake, sorry

[2021-01-15 19:21] hamzamaiot commented on #12
Update Jan 15: This is slightly blocked by API design discussions regarding custom Steps. Will keep open and align with a PR soon

[2021-01-16 20:01] htahir1 commented on #13
No problem! We also added a fix to the YAML pipelines dir problem you were facing in https://github.com/maiot-io/zenml/pull/14 . Thanks for the heads-up!

[2021-01-16 20:01] #13 closed

[2021-01-29 13:12] htahir1 commented on #12
Update 29 Jan: API design is complete with 0.2.0 but the `model-card-toolkit` conflicts with some core dependencies of ZenML, including ml-metadata, tfx etc. Looking at the repo, it looks like it is still WIP and the first GitHub release was made a few days ago. Hopefully it will have looser dependencies as things move forward, then we can look at this again

[2021-02-10 08:41] benkoller opened #30 "[FEATURE] Ze"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-10 08:42] benkoller opened #31 "[FEATURE] Microsoft Azure Orchestrator Backend"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-10 08:42] benkoller opened #32 "[FEATURE] Bootstrapping for Microsoft Azure"
**Is your feature request related to a problem? Please describe.**
Users need to quickly get set up with using Azure with ZenML.

**Describe the solution you'd like**
To take bootstrapping of a cloud provider to the next level, a few functionalities can/should be built-in:

* integration of bootstrapping to the CLI (vs. independent terraform scripts)
* Inputs to bootstrap existing resources (e.g.

[2021-02-10 08:45] hamzamaiot opened #33 "[ENHANCEMENT] Rearrange `imports` to be more convenient by using smart `__init__`"
Currently, the imports are very verbose in ZenML

[2021-02-10 08:46] hamzamaiot opened #34 "[FEATURE] Implement `zenml clean`"

[2021-02-10 08:47] benkoller opened #35 "[FEATURE] Add integration to deploy models via Seldon Core"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-10 08:47] benkoller opened #36 "[FEATURE] Add integration to deploy models via BudgetML"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-10 08:47] hamzamaiot opened #37 "[BUG] If a class is passed as a step rather than then object, then there is a panic exception"
**Describe the bug**
If a class is passed as a step rather than the object of the class, there is panic.

**To Reproduce**
Try to pass a step class in the Pipeline instead of an object:
[code]
instead of:
[code]

**Expected behavior**
A more elegant exception to be thrown.

**Screenshots**
Provided by @jondoering on the Slack channel.
![image](https://user-images.githubusercontent.com/4792082/1075

[2021-02-10 08:47] hamzamaiot opened #38 "[BUG] Doing `git init`, `zenml init` and running causes a `no HEAD` exception -> A commit must be made first."
**Describe the bug**
ZenML fails with custom step on no commit git repo.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
If there is no commit, make the pipeline un-pinned.

**Screenshots**

**Stack Trace**

** Context (please complete the following information):**
 - OS: Ubuntu 16.04
 - Python Version: 3.6.6
 - ZenML Version: 0.3.1

**Additional information**

[2021-02-10 08:49] hamzamaiot opened #39 "[FEATURE] Implement non-tensorflow specific custom Preprocessing step"
**Is your feature request related to a problem? Please describe.**
Not everyone would like to use Tensorflow Transform, due to any reason whether it be complex logic or a legacy codebase.

**Describe the solution you'd like**
A simple Pythonic interface that receives data in an understood format and then preprocesses in a certain format.

**Describe alternatives you've considered**

**Additional c

[2021-02-10 08:49] benkoller opened #40 "[FEATURE] Add support for PostgreSQL data sources"
**Is your feature request related to a problem? Please describe.**
Some ZenML customers consume directly from Postgres.

**Describe the solution you'd like**
An integration with [beam-nuggets](https://github.com/mohaseeb/beam-nuggets/blob/master/beam_nuggets/io/relational_db_api.py) would open up a plethora of options.

**Describe alternatives you've considered**

**Additional context**

[2021-02-10 08:50] hamzamaiot opened #41 "[FEATURE] Extend BatchInference to Work with any TrainerStep output (model agnostic)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-10 13:29] hamzamaiot opened #42 "[ENHANCEMENT] Refine design for creation of custom datasource"
**Is your enhancement request related to a problem? Please describe.**
Initial feedback shows that creating a  custom datasource is hard due to the Step relationship and the need to learn Beam.

**Describe the enhancement you'd like**
A simple Pythonic interface that exposes a Beam ParDo.

**How do you solve your current problem with the current status-quo of ZenML?**
Its hard to do for now.

**Ad

[2021-02-10 14:22] hamzamaiot opened #43 "[FEATURE] Add ability to write BatchInference to any data sink"
**Is your feature request related to a problem? Please describe.**
Currently, The BatchInferenceStep/Pipeline can only write to one data sink: TFRecords. In many use-cases, another sort of sink is required, e.g., a SQL datasource.

**Describe the solution you'd like**
Abstract the writing into the BatchInferenceStep interface so user can decide.

**Describe alternatives you've considered**

**Addi

[2021-02-10 14:26] hamzamaiot opened #44 "[FEATURE] Support model/library agnostic TFMAEvaluator interface"
**Is your feature request related to a problem? Please describe.**
Currently, the TFMAEvaluator only works with TensorflowTrainerStep output. This excludes other sorts of Trainers.

**Describe the solution you'd like**
Utilizing a combination of #41 and #43 will yield a FPL output that can be utilized with the [model agnostic predictor](https://github.com/tensorflow/model-analysis/blob/master/tens

[2021-02-11 13:13] htahir1 opened #45 "[FEATURE] Decouple configuration from first-class component models"
**Is your feature request related to a problem? Please describe.**
Currently `Pipelines`, `Steps`, `Datasource`, and `Backends` , i.e., first-class ZenML components have the configuration and the actual model built-in to them. For example to run a Pipeline

[code]
This causes unintended consequences after the pipeline is run -> The object become immutable (in a hidden way) at that point, it gets i

[2021-02-12 12:18] #40 closed

[2021-02-12 14:45] dr3s commented on #45
I think the terminology is confusing me a bit. Model and configuration to me are somewhat synonymous whereas execution is the result of calling run().  I think what you have described above is that:
`
var training_pipeline is a Pipeline Model/Configuration/Plan
var pipeline is a Pipeline Execution
`

Correct?

Each execution would be immutable.  The model or config could also be immutable if there

[2021-02-13 16:55] htahir1 commented on #45
@dr3s You're right -> The word `model` is not reflective at all. I updated the comment and adopted the word `execution`.

I'm not sure about this part of your comment here. The config itself would be **mutable**, while the execution would be **immutable**. Perhaps my updated comment would clarify this -> Do let me know if I misunderstood your comment.

Yes, the name is unique and should be defined

[2021-02-15 15:04] dr3s commented on #45
I think it's helpful to be specific here.  There are at least two things with the PipelineConfig that could be mutable: the object reference in code and the data that zenml persists to record that config.  The former could be mutable or immutable (using something like the builder pattern).  The latter could also be mutable or immutable regardless of how the execution is treated.  If the config is

[2021-02-16 07:06] htahir1 commented on #45
@dr3s I think we're on the same page here. I'd love for you to take a look as this develops. Please keep an eye on it

[2021-02-17 13:36] htahir1 opened #49 "[FEATURE] Add text as a datasource"
**Is your feature request related to a problem? Please describe.**
Currently, there is no easy way to deal with text corpus's in ZenML. We want to unlock the NLP angle for people using it.

**Describe the solution you'd like**
A simple `TextDatasource` that can read a bunch of text files would be a good start. A solid example of NLP end-to-end would also help.

[2021-02-22 22:41] SaraKingGH opened #51 "quickstart demo"
I just found a small bug in the readme here: https://github.com/maiot-io/zenml/tree/main/examples/quickstart. we should have python quickstart.py instead of run.py.

[2021-02-24 02:33] mmiaz opened #52 "[ENHANCEMENT] How do i reconnect the pipelines?"
I used `zenml init` to build the pipelines as suggested in QUICKSTART, however, the jupyter notebook got broken up. How can I reconnect back to the pipelines that i have built as `zenml init` wont be working at such circumstance. Thanks

[2021-02-24 02:39] #52 closed

[2021-02-24 02:40] mmiaz commented on #52
just resume the jupyter notebook without any zenml cmd in terminal will work fine

[2021-02-24 06:37] htahir1 commented on #51
Makes sense, will fix!

[2021-02-25 11:11] bcdurak opened #53 "[FEATURE] AWS Orchestrator Backend"
**Is your feature request related to a problem? Please describe.**
No. It is about implementing a quick and easy way of getting ZenML pipelines on AWS

**Describe the solution you'd like**
An EC2 instance will boot up, executing the desired ZenML pipeline and use S3 as the artifact store and RDS as the metadata store

[2021-02-25 19:27] SaraKingGH opened #55 "[BUG] Examples directory contains absolute imports which do not work and relative imports also dont work with current zenml git logic"
Describe the bug
I tried to run the scikit demo from example folder. first it gave the "No module named 'examples'".
Then I change this line
from examples.scikit.step.trainer import MyScikitTrainer in run.py to from step.trainer import MyScikitTrainer to fix the problem and now its giving this error:

Screenshots
it attached

** Context (please complete the following information):**

OS: Mac
Pytho

[2021-02-26 13:15] htahir1 commented on #51
Fixed in f05be5e93e56b3d6f5e1b942b2aa551778b35590 . Thanks @SaraKingGH !

[2021-02-26 13:15] #51 closed

[2021-02-26 13:26] htahir1 commented on #55
@SaraKingGH Two answers to this.

# First case: The import problem
In the first instance, could you tell us which context you executed the script in? To make it work 'as is', you should run it within the `examples/scikit` directory. From scratch, do the following:

[code]

Before continuing, either [install the zenml pip package](https://docs.zenml.io/getting-started/installation.html) or install

[2021-02-26 14:41] #53 closed

[2021-03-08 14:04] #49 closed

[2021-03-09 08:38] hamzamaiot opened #57 "[ENHANCEMENT] Extend Trainer interface to compute eval results"
**Is your enhancement request related to a problem? Please describe.**
In order to make the Model Agnostic Evaluator work (see #44 ), the Trainer API needs to write out the evaluation results, so that metrics can be calculated downstream.

**Describe the enhancement you'd like**
An interface that exposes an `eval_fn` that when implemented writes evaluated results in a Channel to be consumed by a d

[2021-03-15 17:32] #33 closed

[2021-03-16 16:08] htahir1 commented on #36
As this issue is open for a few weeks now, and the main contributors have not been able to prioritize this ticket, we have decided to take this feature request into the [ROADMAP](https://github.com/maiot-io/zenml/blob/main/ROADMAP.md). This maintains transparency, while also clearing up the issue board, which can then be a place for more short-term or WIP features/bugs/enhancements etc.

[2021-03-16 16:08] #36 closed

[2021-03-16 16:08] htahir1 commented on #35
As this issue is open for a few weeks now, and the main contributors have not been able to prioritize this ticket, we have decided to take this feature request into the [ROADMAP](https://github.com/maiot-io/zenml/blob/main/ROADMAP.md). This maintains transparency, while also clearing up the issue board, which can then be a place for more short-term or WIP features/bugs/enhancements etc.

[2021-03-16 16:08] #35 closed

[2021-03-16 16:09] htahir1 commented on #32
As this issue is open for a few weeks now, and the main contributors have not been able to prioritize this ticket, we have decided to take this feature request into the [ROADMAP](https://github.com/maiot-io/zenml/blob/main/ROADMAP.md). This maintains transparency, while also clearing up the issue board, which can then be a place for more short-term or WIP features/bugs/enhancements etc.

[2021-03-16 16:09] #32 closed

[2021-03-16 16:10] htahir1 commented on #31
As this issue is open for a few weeks now, and the main contributors have not been able to prioritize this ticket, we have decided to take this feature request into the [ROADMAP](https://github.com/maiot-io/zenml/blob/main/ROADMAP.md). This maintains transparency, while also clearing up the issue board, which can then be a place for more short-term or WIP features/bugs/enhancements etc.

[2021-03-16 16:10] #31 closed

[2021-03-17 11:08] htahir1 commented on #55
@SaraKingGH Update: After further investigation, my above diagnosis seems flawed.You were indeed correct to point out that changing from `from examples.scikit.step.trainer import MyScikitTrainer` in run.py of the scikit example to `from step.trainer import MyScikitTrainer` would yield the error you showed. This was becuase of the logic of resolving relative imports in the git wrapper of zenml. We

[2021-03-17 13:58] #37 closed

[2021-03-17 13:58] #38 closed

[2021-03-17 13:58] #55 closed

[2021-03-17 16:45] SaraKingGH commented on #55
sounds great Tahir, thanks for letting me know.:)

[2021-03-18 13:44] #44 closed

[2021-03-18 13:44] #57 closed

[2021-03-24 10:21] zyfzjsc988 opened #61 "[BUG] training_pipeline.view_anomalies() raises error in the "quickstart" example"
**Describe the bug**
training_pipeline.view_anomalies() raises error in the "quickstart" example

**To Reproduce**
I tried the "quickstart" example and anomalies function as well.

I just run `training_pipeline.view_anomalies()` after  `training_pipeline.run()`

**Expected behavior**
like screenshots

**Screenshots**
I try to change source code will get right return (maybe)
![image](https://user-i

[2021-03-25 08:15] #61 closed

[2021-03-25 10:51] zyfzjsc988 opened #63 "[FEATURE] Set ports of servers when showing "statistics" and "Evaluation""
**Is your feature request related to a problem? Please describe.**
Can user set ports of servers when showing "statistics" and "Evaluation"? As I use zenml in docker, the ports I can use are limit and predefined.

**Describe the solution you'd like**
Set them by myself when init zenml workspace (global setting)

**Describe alternatives you've considered**

**Additional context**

[2021-03-26 11:01] htahir1 opened #64 "[ENHANCEMENT] There should be a way to list all integrations with dependencies"
**Is your enhancement request related to a problem? Please describe.**
Not easy to see the list of supported integrations -> For example: is it `zenml[torch]` or `zenml[pytorch]`

**Describe the enhancement you'd like**
A way to list all integrations with dependencies they would install.

**How do you solve your current problem with the current status-quo of ZenML?**
Have to look at source code

*

[2021-03-26 12:53] #64 closed

[2021-03-29 14:42] #63 closed

[2021-04-01 09:50] deepakiim opened #68 "[FEATURE] Is it possible to a generic flexible solution for MLOps pipelines independent of the use case, type of model etc?"
**Is your feature request related to a problem? Please describe.**
IMHO, Having a generic flexible framework for ML pipelines independent of the use case, type of model etc. would be the best case. So the its up to the creativity and use of the DS to implement the pipeline. Also input and output for each steps in the pipeline could be generic and definable. Is this possible in ZenML?

**Describe t

[2021-04-01 11:18] htahir1 commented on #68
Hi @deepakiim, thanks for the request. In general, ZenML is still early in development so we're working towards enabling a lot of the needs you expressed in your question. But I'll give it a go:

1. ZenML is intended to fully agnostic of datasource -> We have currently Postgres, BigQuery, CSV, and Images but you can also create a custom datasource -> I understand documentation is lacking for that

[2021-04-01 12:23] zyfzjsc988 opened #69 "[BUG] Error displaying widget: model not found in "quickstart" example"
**Describe the bug**
`Error displaying widget: model not found` raise when run `training_pipeline.evaluate(magic=True)`
in most time, if I change pipeline many times this error will raise

**To Reproduce**

Steps to reproduce the behavior:
1. I run pipeline use `training_pipeline.add_split(RandomSplit(split_map={'train': 0.7,'eval': 0.3}))` in split step
2. then I change to `training_pipeline.add_

[2021-04-02 19:55] harshasridhar commented on #34
Hi, I'd like to work on this issue.
Please help me out with the details.

[2021-04-02 20:25] htahir1 commented on #34
Thank you @harshasridhar. Thank you for the contribution, it is greatly appreciated!

Here are a few pointers:

When the user uses `zenml clean` the following needs to happen.

For each pipeline in the `pipeline_store` specified in the `zenml_config`, you need to delete the `metadata_store` and the `artifact_store`. Here is how:

* Deletion of the artifact store [this can be remote or local -> usi

[2021-04-05 15:25] #69 closed

[2021-04-13 06:30] aak7912 opened #71 "[BUG] zenml for regression"
This is my code for predicting housing prices for [boston housing dataset](https://www.kaggle.com/c/boston-dataset/data)

[code]

Is there something I am missing here? The error when I run this code snippet is
```mat1 and mat2 shapes cannot be multiplied (32x13 and 8x64)```

[2021-04-13 08:30] #71 closed

[2021-04-13 10:27] htahir1 commented on #71
@aak7912 The answer is the standard `TorchFeedForwardTrainer` is making some assumptions for the shape and size of the data. PR #72 adds a regression example with a custom trainer step for this particular use-case. Try it out! Closing the issue till then. Feel free to reopen if it did not work

[2021-04-22 09:02] #42 closed

[2021-04-24 17:15] ramitsurana opened #77 "[BUG] Links in the Readme are not working"
**Describe the bug**
The [Readme file](https://github.com/maiot-io/zenml/blob/main/README.md) contains some outdated links for documentation at https://docs.zenml.io/.

**To Reproduce**
Please check the hyperlinks under [ZenML Paragraph](https://github.com/maiot-io/zenml/blob/main/README.md#what-is-zenml).

**Expected behavior**
It should point to the valid documentation pages.

[2021-04-26 09:04] hamzamaiot commented on #77
Thank you @ramitsurana for pointing this out - @TremaMiguel PR fixes this, so ill close the issue

[2021-04-26 09:04] #77 closed

[2021-04-26 11:26] ramitsurana opened #80 "[ENHANCEMENT] Distribute requirements.txt into folder wise structure"
**Is your enhancement request related to a problem? Please describe.**
No

**Describe the enhancement you'd like**
I was going through this [File](https://github.com/maiot-io/zenml/blob/main/zenml/utils/requirement_utils.py) and wanted to check your thoughts if we could create a folder wise tree-like structure for different requirements like extensions, providers etc. in text files, depending on o

[2021-04-26 12:19] bcdurak commented on #80
Hey @ramitsurana , thank you for opening this issue.

The integrations are an essential part of ZenML and it is definitely important to keep the requirements of each integration as organized as possible. However, with the increasing number of integrations, it will become more and more challenging to place them in clear-cut categories. Huggingface is a great example of this particular problem becau

[2021-04-26 16:08] batlogs opened #81 "Not able to install zenml on Mojave or Ubuntu"
I am trying to install zenml on Mojave but I get the below error. I also did try to do the same on EC2 instance but still got an error

`pip install zenml` is the command I use to install

EC2 Python details

- Python - 3.5.2
- PIP - 20.3.4
- Error `ERROR: Could not find a version that satisfies the requirement tfx==0.25.0 (from zenml)
ERROR: No matching distribution found for tfx==0.25.0`

Mojave

[2021-04-26 17:36] htahir1 commented on #81
What version of pip are you using? Can you upgrade it? It looks like you have an older version of pip? Or maybe you are using python 2 pip and not python 3 pip?

[2021-04-26 18:19] htahir1 commented on #81
This is super strange on closer inspection. Even the error message is strange as the conflict does not look like a conflict. Could you try doing `pip install zenml==0.3.7` ?

[2021-04-26 18:49] #80 closed

[2021-04-27 07:07] batlogs commented on #81
I get the below error with the above command
`Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement zenml==0.3.7
ERROR: No matching distribution found for zenml==0.3.7`

[2021-04-27 07:09] hamzamaiot commented on #81
Ah just noticed you are using Python 3.9.1. We do not currently support that - Please try using a VM with Python <3.9 >=3.6

[2021-04-27 11:06] batlogs commented on #81
But I am getting this error in my EC2 instance. where Python = 3.5.2

[2021-04-27 11:12] htahir1 commented on #81
Can you please come over to the slack so we can discuss it in more detail quickly  and then we can summarize here? zenml.io/slack-invite

[2021-04-27 11:33] batlogs commented on #81
I am on slack

[2021-04-27 11:33] batlogs commented on #81
Is there a channel or just on general channel?

[2021-04-29 06:04] htahir1 commented on #81
Issue is resolved by using Python version > 3.6 and <=3.9!

[2021-04-29 06:04] #81 closed

[2021-04-29 07:22] #68 closed

[2021-04-30 12:09] htahir1 commented on #30
@aliabbasjaffri is working on this. Feel free to link a PR when ready!

[2021-05-08 20:17] Franky007Bond opened #83 "[BUG] zenml init throws «KeyError: 'HOME'» on Windows"
Trying to create zenml repo on Windows throws error message as indicated in section **Stack Trace**

**Expected behavior**
enable zenml to run on Windows as well

**Stack Trace**
 from zenml.backends.orchestrator.kubernetes.orchestrator_kubernetes_backend \
  File "c:\users\frank\anaconda3\envs\zenml\lib\site-packages\zenml\backends\orchestrator\kubernetes\orchestrator_kubernetes_backend.py", line

[2021-05-09 21:12] aak7912 opened #84 "[BUG] Unable to see pipelines for comparison (compare_training_runs() module) upon passing pipeline_name parameter to TrainingPipeline()"
**Describe the bug**
I created two pipelines and specified their names by passing pipeline_name parameter to  TrainingPipeline(). I was unable to see the pipelines listed on the comparison webpage (screenshot attached).

Next I created two pipelines without specifying the pipeline name and was able to see both those pipelines listed on comparison webpage

![image](https://user-images.githubusercon

[2021-05-11 12:14] htahir1 commented on #84
I am unable to reproduce this behavior. As discussed on Slack, will close issue

[2021-05-11 12:14] #84 closed

[2021-05-14 15:49] #83 closed

[2021-06-11 08:48] SKRohit opened #90 "RuntimeError: Tensor for argument #2 'mat1' is on CPU, but expected it to be on GPU (while checking arguments for addmm)"
**Describe the bug**
I am new to zenml and planning to use in one of our project. I tried to run Pytorch examples mentioned [here](https://github.com/maiot-io/zenml/tree/main/examples/pytorch). Please let me know what is the issue. I am confused because it is able to train the model without CPU, GPU tensor mismatch. But after training I am getting this error and I cannot find an option (in the api

[2021-06-11 09:02] htahir1 commented on #90
Indeed it is a bug - we can push a fix in the next release. Thanks for bringing it to our attention.

In the meanwhile maybe try changing some of the files in the pytorch trainer to see if you can change the behavior?

[2021-06-12 17:39] SKRohit commented on #34
@htahir1 I am looking into this issue. And this is what I understood and what I have doubts about.

1. Every `BasePipeline`  object has `metadata_store` and `artifact_store` attributes so deleting those for each pipeline would be enough?
2. Also, every `BasePipeline` object also has `datasource` attribute which is a `BaseDatasource` object and it has its own `metadata_store` and `artifact_store` s

[2021-06-12 23:19] SKRohit commented on #90
@htahir1 the bug is occurring because of `self.test_fn()` in `FeedForwardTrainer` in file `torch_ff_trainer.py`. It is called in line 213 from `self.run_fn()` where the model is being explicitly kept on GPU (if a GPU is present) before training. This model is being passed to `self.test_fn`.  And while testing the model the inputs should have been kept on GPU (see line no 131) or model should have

[2021-06-13 10:18] htahir1 commented on #90
Thanks - left a review!

[2021-06-13 10:22] htahir1 commented on #34
Thanks for the well thought out comments @SKRohit. Here are my answers:

1. Yes I believe that would be enough.
2. Every datasource is connected *atleast* to a data pipeline, therefore if you delete all pipelines then you will delete all datasources in essence.
3. See above - if you delete all pipelines than there should be no datasources left as each datasource produces a data pipeline per commit

[2021-06-23 11:36] htahir1 commented on #90
Thank you @SKRohit for the PR #91 ! It fixes this issue

[2021-06-23 11:36] #90 closed

[2021-06-26 14:58] patrickphat commented on #39
I would like to participating in implementing this. Can you please help me clarify further?

[2021-06-27 10:47] htahir1 commented on #39
@patrickphat We are currently revamping ZenML internally to make this a lot easier, so it will be a bit hard to start this at this point in time. However, please join on [Slack](https://zenml.io/slack-invite) and DM me, we can have a chat about a potential contribution!

[2021-07-12 11:59] ucsky opened #92 "[BUG] ValueError: An error occured while trying to apply the transformation"
**Expected behavior**
I try to run the basic example:
[code]
But I got the following error.

**Stack Trace**
[code]

 - OS:
   - LSB Version:	core-11.1.0ubuntu2-noarch:security-11.1.0ubuntu2-noarch
   - Distributor ID:	Pop
   - Description:	Pop!_OS 21.04
   - Release:	21.04
   - Codename:	hirsute

 - Python Version: Python 3.6.13 :: Anaconda, Inc.
 - ZenML Version: 0.3.8

[2021-07-12 15:06] htahir1 commented on #92
Hmm @ucsky thanks for the bug report. It feels like there is an particular issue with your OS system and the GPU you have installed that does causes the underlying Tensorflow Transform step to fail. Could you try disabling the GPU and trying again? You can do this by setting the following env variable at the top of your runner script:

[code]

[2021-07-20 00:40] liguodongIOT opened #93 "[BUG] Mac M1 environment unable to use zenml CLI"
How should I solve this problem?

[2021-07-20 08:13] htahir1 commented on #93
Could you please add the full traceback as well as the ZenML version and MAC OS version?

[2021-07-20 12:02] liguodongIOT commented on #93
Thank you very much for your answer.

### **My installation steps：**

[code]

### **My environment：**

**mac os version:** 11.1

![image](https://user-images.githubusercontent.com/13220186/126318688-c1c9b5e7-1492-431d-b207-1e369f903595.png)

**zenml version:** 0.3.8

**conda version:** 4.9.2

**python version:** 3.8

[2021-07-20 12:36] htahir1 commented on #93
Could try running this script:

[code]

 And let us know what you get?

[2021-07-20 12:36] htahir1 commented on #92
@ucsky Did that fix it?

[2021-07-21 00:33] liguodongIOT commented on #93
Running this script is normal.

[code]

[2021-07-21 09:43] htahir1 commented on #93
As it seems to be working installation wise, I feel like the CLI problem might be due to a zsh configuration rather than a ZenML installation one. Were you able to run `zenml init` on the CLI? Could you try alternatively using simple bash than zsh?

[2021-07-22 01:19] liguodongIOT commented on #93
Run `zenml init` on the CLI, same error.

![image](https://user-images.githubusercontent.com/13220186/126578436-7fb095ad-ea07-4309-bf6f-df6b69fc7ad3.png)

When I use bash, I still get an error：

![image](https://user-images.githubusercontent.com/13220186/126578324-105b76fa-e698-4a50-b2f5-cc99fcd68b78.png)

[2021-07-22 09:23] htahir1 commented on #93
Thank you for the info. I feel like this an underlying problem with Tensorflow on Mac M1. See the following issues:

https://github.com/apple/tensorflow_macos/issues/143
https://github.com/ludwig-ai/ludwig/issues/1101
https://github.com/openeventdata/mordecai/issues/97

Is it possible for you to try the fixes mentioned here https://github.com/apple/tensorflow_macos/issues/143 and let us know if th

[2021-07-22 10:10] liguodongIOT commented on #93
Hi, there is a version conflict in installing zenml using tensorflow_macos virtual environment。

![image](https://user-images.githubusercontent.com/13220186/126623028-77651de4-3c21-4a6b-947d-f196ae2edb94.png)
![image](https://user-images.githubusercontent.com/13220186/126623152-7d5444cd-38ac-4920-ab5e-569227f0c5d4.png)

[2021-07-22 10:23] htahir1 commented on #93
This will be solved when we get rid of the Tensorflow dependency. Another suggestion: Can you try using our Docker Image instead to run ZenML: `https://hub.docker.com/u/zenmldocker`

[2021-07-27 03:26] liguodongIOT commented on #93
Hi, I tried this way, but I still get an error:

![1627356284426](https://user-images.githubusercontent.com/13220186/127090486-0c565dee-14cc-4571-9285-aac1d35f17a5.jpg)

[2021-07-27 08:38] htahir1 commented on #93
This is strange - it seems like a segmentation fault in the C++ core of tensorflow now. It seems like they have just stopped supporting Mac altogether: https://github.com/tensorflow/tensorflow/issues/42387

Unfortunately at this point, I would suggest you wait for our updated release as it will get us away from the Tensorflow dependency. Sorry for the inconvenience here!

[2021-08-04 12:05] vfdev-5 opened #94 "[FEATURE] Provide integration with PyTorch-Ignite"
**Is your feature request related to a problem? Please describe.**

Provide an example with [PyTorch-Ignite](https://github.com/pytorch/ignite) here:  https://github.com/maiot-io/zenml/tree/main/examples

What do you think ?

[2021-08-10 08:20] htahir1 commented on #94
Sorry for the late reply - Happy to have an example. Is it possible to share more details about PyTorch-Ignite? The core ZenML team is not familiar with it. Would you be open to creating a PR? :-) We can help out!

[2021-08-10 08:31] vfdev-5 commented on #94
Here is a [tutorial](https://labs.quansight.org/blog/2020/09/pytorch-ignite/) to make your team more familiar with it :)

Unfortunately, right now I have no bandwidth to create PR.

[2021-08-10 08:34] htahir1 commented on #94
Thank you - we're heads down working on our [ROADMAP](https://github.com/maiot-io/zenml/blob/main/ROADMAP.md) as of this moment so will find it hard to add this feature in the near future. Happy to incorporate it into our list of integrations somewhere down the line. I hope you understand that we have to balance community feedback and demand with our own limited time and resources! :-)

Again, mor

[2021-08-16 08:27] ucsky commented on #92
Hello,
Yes that fixed the problem, thanks.

[2021-08-16 08:27] #92 closed

[2021-08-27 13:06] nicholasjng opened #97 "[FEATURE] JAX integration"
Salam / merhabalar friends,

**Is your feature request related to a problem? Please describe.**
Let's bring Google's JAX to ZenML!

**Describe the solution you'd like**
I would like to build an example (what exactly the example is about is TBD at this point) ZenML+JAX project - if it's cloud-ready, all the better (although JAX on GCP has some sharp edges as far as I understood).

Ideally, this cou

[2021-09-07 10:22] huiwenhan opened #98 "[BUG]"
**Describe the bug**
zenml installation error.
**To Reproduce**
Steps to reproduce the behavior:
`pip install zenml`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Stack Trace**
[code]
** Context (please complete the following information):**
 - OS: [e.g. windows 10]
 - Python V

[2021-09-07 11:23] htahir1 commented on #98
Hi @huiwenhan , this issue is caused currently because we support Python >=3.6 < 3.9 therefore, please try to use a supported Python version between that ramge. 3.9.5 support will hopefully arrive soon

[2021-09-07 12:12] EwanValentine opened #99 "[BUG] when running zenml init after installing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. pyenv global 3.8.2
2. python -m venv venv
3. source venv/bin/activate.fish
4. pip install zenml
5. zenml init

**Expected behavior**

Project to be initiated.

**Stack Trace**

[code]

** Context (please complete the following information):**
 - OS: [e.g. Ubuntu 18.04] OSX

[2021-09-07 12:32] htahir1 commented on #99
This is the second issue that popped up today. We need to deeper investigation on it. Will get back to this thread latest by tomorrow

[2021-09-07 13:01] EwanValentine commented on #99
Awesome, much appreciated @htahir1 🙌🏻

[2021-09-08 07:48] LpLegend opened #100 "[BUG]"
**Describe the bug**
When I run infer_pipeline , the code in example can`t run successfully, this is the code and the error:

**To Reproduce**
Steps to reproduce the behavior:
1. Open the  jupyterlab on zenml-0.3.0 docker image
2. Run code in 'examples-->batch_inference-->run.py'
3. See error

**Expected behavior**
It can run successfully.

**Screenshots**
![image](https://user-images.githubuserco

[2021-09-08 09:42] bcdurak commented on #100
Hello @LpLegend, I am Baris from the ZenML team. I am looking into the issue and I will try to replicate it. If possible, can you perhaps share the stack trace?

[2021-09-08 09:44] bcdurak commented on #100
Hello @LpLegend, I am Baris from the ZenML team. I am looking into the issue and I will try to replicate it.

[2021-09-08 09:48] LpLegend commented on #100
Yes， This is the Stack trace:

[2021-09-08 09:49] strickvl commented on #98
I found that I'm unable to install `zenml` on any version of Python, even within the range of >=3.6 < 3.9. I get the same error message / stack trace as the OP.

[2021-09-08 13:24] htahir1 commented on #98
Ok we're investigating. Thanks @strickvl  ;-)

[2021-09-08 13:25] htahir1 commented on #99
@EwanValentine we seem to have a critical release failure this time around (darn it). Still investigating but might be delays. Will update this tread as it develops.

[2021-09-09 12:50] bcdurak commented on #98
Hey @huiwenhan and @strickvl , we have an issue regarding our dependencies on Python <3.9. We are investigating it at the moment and we will update this thread as it develops.

As a temporary solution, I have tested the installation with two clean versions of Python, 3.6.9 and 3.8.2 respectively, which seems to solve the dependency problem in the installation. Let us know if it works for you as we

[2021-09-09 12:53] bcdurak commented on #99
Hey @EwanValentine, as @htahir1 mentioned, we are investigating the issue at the moment and we will keep this thread updated.

As a temporary solution, I have tested the installation with two clean versions of Python, 3.6.9 and 3.8.2 respectively, which seems to solve the version conflicts and I was able to initialize a ZenML repository. Let us know if it works for you as well or if there are any

[2021-09-09 12:58] bcdurak commented on #100
Thank you for the stack trace. I am investigating the issue and I will update the thread as it develops.

[2021-09-09 14:20] EwanValentine commented on #99
Ahhh amazing, thanks @bcdurak // @htahir1 I'll give this a test shortly :)

[2021-09-09 16:09] strickvl commented on #98
@bcdurak I got it installing and `init` working with 3.6.9, but only when using raw `pip install`.

When I did a `pipenv install zenml`, I got the following error message:

[code]

I get the same message when using `pipenv install zenml` using Python 3.8.2.

As the error message suggests, I can run it with the `--skip-lock` flag, but that isn't really solving the problem. I guess `pipenv` is stric

[2021-09-10 12:51] bcdurak commented on #98
Hey @strickvl, I am happy to hear that the straightforward installation is working.

As for the `pipenv` installation on 3.8.2, we need to investigate the issue a bit further. I will update the thread when we have more insight.

[2021-09-13 14:49] alex-zenml commented on #98
I reproduced the issue of the quickstart not working.

Steps taken:

- `pip install zenml`
- `git init`
- `zenml init`
- created a `.py` file into which I put (verbatim copy) the code listed in step 2 of the quickstart
- ran the file

I didn't get the dataset download issue that @bcdurak you said you had. Instead, I got the following error:

[code]

I don't fully understand what's going on here, b

[2021-09-14 02:34] LpLegend commented on #100
@bcdurak Hi ,has this problem been repeated and solved?

[2021-09-14 08:11] htahir1 commented on #98
So after some research, we figured out that the `apache-beam==2.32.0` version caused the above error @alex-zenml. To fix, please downgrade apache-beam for now like so:

[code]

Hope that fixes the issue! We'll make sure to fix it in the next release for sure.

[2021-09-22 13:56] EwanValentine commented on #99
This works perfectly now, thanks @bcdurak @htahir1 much appreciated, and apologies for not getting back to you sooner

[2021-09-22 13:56] #99 closed

[2021-10-06 12:37] htahir1 opened #108 "[FEATURE] Enable MLFlow as a metadata store for ZenML pipelines."
Enable MLFlow as a metadata store for ZenML pipelines.

_Originally posted by @htahir1 in https://github.com/zenml-io/zenml/discussions/107_

[2021-10-06 16:36] htahir1 opened #109 "[FEATURE] Deploying ML on FPGA using zenml"
### Discussed in https://github.com/zenml-io/zenml/discussions/96

<div type='discussions-op-text'>

<sup>Originally posted by **zaman75** August 17, 2021</sup>
Hi,
I am doing a project regarding implement neural network on FPGA and deploy the model using MLOPS.
Zenml has excellent pipeline and I want to use zenml in my project. Is it possible to deploy model on FPGA using zenml? What could be the

[2021-10-06 16:59] #108 closed

[2021-10-06 17:00] htahir1 commented on #100
With the release of 0.5.0rc2 , the infer_pipeline paradigm is no longer supported, and when it is added back we should not experience this issue. I will mark this issue as closed in the meanwhile.

[2021-10-06 17:01] htahir1 commented on #93
Closing due to staleness, and hopefully solved in the new release.

[2021-10-06 17:01] #93 closed

[2021-10-06 17:02] #39 closed

[2021-10-06 17:03] htahir1 commented on #12
Marking as stale and closing

[2021-11-08 14:48] apsidalduck opened #161 "[BUG]: Windows path issues"
### Contact Details [Optional]

github.com@vicramkotecha.com

### What happened?

Hi, I've run into a couple path-related issues running on Windows.
(1) Creating a local pipeline tries to create files with colon (:) in the path due to datetime.now().isoformat() having them (line 103 in local_dag_runner.py). Worked around by adding .replace(':', '_') but there may be more elegant solutions.
(2) Hav

[2021-11-08 15:55] htahir1 commented on #161
@alex-zenml Might be relevant for your PR

[2021-11-10 11:32] Finesim97 opened #166 "[BUG]: Weird _data_type for artifact view"
### Contact Details [Optional]

_No response_

### What happened?

When trying to load my pandas DataFrame from an ArtifactReview, it tries to load: `env.lib.python3` and the `_data_type` attribute is set to `env.lib.python3.8.site-packages.pandas.core.frame.DataFrame`. I can't reproduce this behavior.

While I try to recreate this in a new project, i am not able to see the same problem.

[code]

[2021-11-10 11:35] htahir1 commented on #166
Thanks for the bug report. Are you currently experiencing this bug or were you able to solve it somehow?

[2021-11-10 11:38] Finesim97 commented on #166
Current problem, I am not aware of how ZenML detects paths to load, my conda env is inside my repo, but gitignored, may this be problem? I will try to use this setup for reproduction.

[2021-11-10 11:50] schustmi commented on #166
Currently we distinguish between user modules and third-party packages based on the location of python files (if they are inside or outside the repo), so I believe your guess is right and the location of the conda env messes with our logic there.
Should be a relatively quick fix though, I'll look into it later.

https://github.com/zenml-io/zenml/blob/d742be60dbba5cf46ec8bc3e916a31c9ea3f1246/src/ze

[2021-11-10 11:55] Finesim97 commented on #166
I was able to reproduce the error, when the env is inside the repo. So you were right. Thank you so much for your time and this awesome project.

[2021-11-10 13:04] htahir1 commented on #166
Awesome @Finesim97 . @schustmi Please go ahead and close the issue if you dont have anything to add here

[2021-11-10 13:27] schustmi commented on #166
@Finesim97 This issue should be fixed in #167. We'll probably release a new version friday next week which will include the fix

[2021-11-10 13:27] #166 closed

[2021-11-22 15:19] htahir1 commented on #161
@apsidalduck  Fixed with https://github.com/zenml-io/zenml/pull/183/commits/3e0695eece97fbd487469a61ab6e89ff96b1bad0 and https://github.com/zenml-io/zenml/pull/183/commits/e681717dbc3d0693b426e9625922997f2772ea66! Thanks for the bug report and watch out for the 0.5.3 release

[2021-11-22 15:19] #161 closed

[2021-12-17 12:13] archena opened #247 "[BUG]: initialisation breaks if api.segment.io is blocked on network"
### Contact Details [Optional]

_No response_

### What happened?

When running `zenml` init, I saw the following output:

[code]

**Cause**

My `/etc/hosts` file includes a blacklist of all sorts of advertising and tracking domains, which happens to include `api.segment.io`. After removing this line from `/etc/hosts`, ZenML works correctly.

**Expected behaviour**

While there's certainly a good

[2021-12-17 12:26] htahir1 commented on #247
Thanks @archena ! I thought we had a hard try catch here to never cause the segment call to interfere with the main thread: https://github.com/zenml-io/zenml/blob/main/src/zenml/utils/analytics_utils.py#L129. I wonder where its coming from, it cant be the method I referenced. I'll investigate

[2021-12-17 13:37] archena commented on #247
Thanks @htahir1. Looking at the code here, and in `analytics-python`, I suspect the relevant exception doesn't actually make its way back to that catch. In the analytics library, calling `track` puts an event on a queue - https://github.com/segmentio/analytics-python/blob/master/segment/analytics/client.py#L122 - and it appears to get stuck in a backoff loop.

[2021-12-17 13:48] htahir1 commented on #247
Perhaps we have to configure the analytics library with the proper exception handling then i.e. having retries set to 1. Will find a way and make it part of 0.5.6

[2021-12-21 17:07] htahir1 opened #265 "[FEATURE]: Add Kubeflow on Cloud Example"
### Contact Details [Optional]

info@zenml.io

### Describe the feature you'd like

Currently, the [Kubeflow Example has manual steps to launch and run ZenML on Kubeflow Pipelines on a cloud like GCP](https://github.com/zenml-io/zenml/tree/main/examples/kubeflow#create-a-gcp-kubeflow-pipelines-stack). It would be helpful to users to have examples for each of the major clouds, with automation built

[2021-12-21 17:14] htahir1 opened #266 "[BUG]: Make sure that graphviz is installed for that integration to work"
### Contact Details [Optional]

support@zenml.io

### What happened?

The [Graphviz integration](https://github.com/zenml-io/zenml/blob/main/src/zenml/integrations/graphviz/visualizers/pipeline_run_dag_visualizer.py) as showcased in the [dag_visualizer](https://github.com/zenml-io/zenml/tree/main/examples/dag_visualizer) example does not check if the graphviz library is actually installed or not i

[2021-12-21 17:21] htahir1 opened #267 "[BUG]: Handle case when same step object is passed twice with different step param names to a pipeline"
### Contact Details [Optional]

support@zenml.io

### What happened?

If we pass the same `step` (i.e. function decorated with @step parameter or an object sub-class of `BaseStep`) to a pipeline, then it leads to an internal ID error deep within zenml internals. It should be possible to catch this case while creating the step, and return an error message.

### Reproduction steps

Run this:

[code]

[2021-12-21 17:41] htahir1 opened #268 "[FEATURE]: Create a `PipelineVisualizer` (similar to the PipelineRunVisualizer)"
### Contact Details [Optional]

support@zenml.io

### Describe the feature you'd like

We have two integrations that support visualizing `PipelineRun`, i.e., pipelines that are executing, have failed executing, or are done executing. The examples are shown here with the [graphviz integration](https://github.com/zenml-io/zenml/tree/main/examples/dag_visualizer) and the [dash](https://github.com/zen

[2021-12-21 17:50] htahir1 opened #269 "[FEATURE]: Add the ability to configure and run a pipeline via CLI"
### Contact Details [Optional]

support@zenml.io

### Describe the feature you'd like

There are two ways to run a zenml pipeline:

* Hard-code the params in the runner script, or
* Configure the pipeline with [a YAML config](https://docs.zenml.io/features/pipeline-configuration).

An example YAML might look like:

[code]

Concretely, a trainer step within a pipeline might look like:

[code]

And

[2021-12-22 09:31] #247 closed

[2021-12-24 16:16] kamalesh0406 commented on #266
Has this issue been solved?

[2021-12-24 16:50] AlexejPenner commented on #266
@kamalesh0406 no this is still open

[2021-12-24 17:19] kamalesh0406 commented on #266
Okay, I have a question regarding the feature you want to add. I tried to recreate the steps given above and when I run the final command zenml example run dag_visualizer, I get the following prompt:

[code]

[2021-12-24 17:29] AlexejPenner commented on #266
This installs the python package only. However the python package requires you to have graphviz installed on your machine for example with apt install. https://graphviz.org/download/

For this issue it should be verified that graphviz is actually installed on the machine as well.

[2021-12-24 18:03] kamalesh0406 commented on #266
Okay got you. I will try to remove graphviz from my system and recreate this error. Thanks!

[2021-12-27 05:54] kamalesh0406 commented on #267
Should we catch the error by adding some functionality to @step such that when it is invoked twice we throw an error or add a functionality to @pipeline to check for the same function being used across multiple parameters?

[2021-12-27 06:04] htahir1 commented on #267
I would actually do something more like matching the full function/class path (e.g. using `https://stackoverflow.com/questions/50673566/how-to-get-the-path-of-a-function-in-python`) and making sure there are no duplicates in the `pipeline`.

[2021-12-27 16:31] kamalesh0406 commented on #267
Can there be a scenario in which the user intentionally wants to pass the same function to different arguments? I want to confirm this because if we are looking to throw an error each time they use the same function twice, we should be sure that it is because of a mistake rather than an intentional use.

[2021-12-28 13:46] AlexejPenner opened #284 "[FEATURE]: Add a generalized way of installing system requirements"
### Contact Details [Optional]

support@zenml.io

### Describe the feature you'd like

Currently our CLI offers a way to install the python packages that are required for a given integration. However, some of our integrations also have system requirements that are necessary to make them work (graphviz, kubectl, etc. ).
All system requirements should be listed on an integration level, just like thi

[2022-01-02 08:10] #267 closed

[2022-01-17 16:44] bhattbhuwan13 opened #316 "Repeated Paragraph in the documentation for `core-concepts`"
In the file `core-concepts.md`, the section on [`Pipeline`](https://github.com/zenml-io/zenml/blob/b94dff83f0e7c8ab29e99d6b42a0c906a3512b63/docs/book/introduction/core-concepts.md?plain=1#L27-L41) includes a repeated paragraph. The first paragraph in the the pipeline section is repeated in the 3rd paragraph of the same section.

[code]

[2022-01-17 19:21] htahir1 commented on #316
Closed with #317

[2022-01-17 19:21] #316 closed

[2022-02-26 09:38] htahir1 commented on #265
Added with release 0.6.1

[2022-03-16 05:36] startakovsky opened #469 "[BUG]: Installation Broken"
### Contact Details [Optional]

_No response_

### What happened?

The installation didn't work. I think versions need to be updated in your code. Maybe the issue is that I'm running Python 3.10.1 but I don't think so.

<img width="989" alt="image" src="https://user-images.githubusercontent.com/689723/158523444-463716bd-b608-4c99-827c-f1a5ad66e550.png">

### Reproduction steps

1. `pip install zen

[2022-03-16 06:02] htahir1 commented on #469
No you're right it's because you're using Python 3.10.1. We only support 3.7 and 3.8. Try one of those @startakovsky

[2022-03-19 19:15] htahir1 commented on #469
Closing due to inactivity. Please let us know if it worked with changing the Python version

[2022-03-19 19:15] #469 closed

[2022-03-22 15:26] htahir1 commented on #97
Closing due to inactivity. We are migrating such issues to the [roadmap ](https://zenml.io/roadmap)for further voting :-)

[2022-03-22 15:27] htahir1 commented on #109
Closing due to inactivity. We are migrating such issues to the [roadmap ](https://zenml.io/roadmap)for further voting :-)

[2022-03-22 15:27] #109 closed

[2022-03-22 15:27] #94 closed

[2022-03-23 08:55] halvorot opened #473 "[BUG]: Requires numpy 1.18.0 conflict with other packages"
### Contact Details [Optional]

halvorot@gmail.com

### What happened?

zenml requires numpy 1.18.0 and this conflicts with another library that I am using, is it possible to bump the version of numpy for zenml or is there a specific reason it needs 1.18.0?

The error I get is:
[code]

### Reproduction steps

1. pip install sdv==0.13.1
2. pip install zenml
3.
...

### ZenML Version

0.5.0rc2

###

[2022-03-23 10:59] htahir1 commented on #473
Hey @halvorot ! Thank you for the report!

In your reproduction steps, you cited an installation of ZenML 0.1.1 which we no longer support. Also you are mentioning 0.5.0rc0 as the version you use -> That is also fairly outdated. I would suggest you update to ZenML >= 0.6.3.

Having said that, with Python 3.8.10 and on Ubuntu 20.04 I was able to do

[code]

And then it works without any problem. Co

[2022-03-23 11:14] halvorot commented on #473
Thank you for the quick response. You're right, for some reason when i ran pip install zenml it tried to install version 0.1.1, but now i tried again with pip install zenml>=0.6.3 and it worked. It was probably something with my environment before.

[2022-03-23 11:14] #473 closed

[2022-03-25 09:47] Jelena811 opened #479 "[BUG]: Could not load Custom Materializer class when using local Kubeflow stack"
### Contact Details [Optional]

tosic.jelena811@gmail.com penenadpi@gmail.com

### What happened?

An error occurred when trying to run example _custom_materializer_ from provided _zenml_examples_ repo, using local_kubeflow_stack (as described [here](https://docs.zenml.io/guides/functional-api/deploy-to-production)).
An error looks like this
<img width="811" alt="Screenshot 2022-03-25 at 10 07 01"

[2022-03-28 19:20] htahir1 commented on #479
This is a strange one. I am unsure why it would omit the character f. Could you share the code you used? I cannot replicate this at my end yet

[2022-03-28 20:37] LXOXOL commented on #479
My name is on your list somehow. I am not in your company not do I wish to be.
I am asking you to look into this matter for me please. I believe I have been hacked by a woman in Chatham IL. I want you be aware of the fact that I had contacted the FBI and they are looking into it for me. I don't want you to be involved in this so please take care of this matter as soon as you can. She uses my Email

[2022-03-29 13:11] htahir1 commented on #479
@LXOXOL I do not know what this last message means, this is an open-source repository and your email is hidden.

@Jelena811 Could you kindly update this issue with your code? We can take it from there

[2022-03-29 14:12] stefannica commented on #479
@Jelena811 It would be really useful to know the following:

* your operating system type (e.g. linux, macos or windows)
* the full path of your .zen folder
* the exact command you are using to run the custom_materializer example

[2022-04-02 14:49] htahir1 commented on #269
A good place to start developing this feature is to see how the `with_config` feature [works in code](https://github.com/zenml-io/zenml/blob/main/src/zenml/pipelines/base_pipeline.py#L382). This combined with inspecting the [`run_pipeline`](https://github.com/zenml-io/zenml/blob/main/src/zenml/cli/pipeline.py#L69) CLI command should be enough to get started

[2022-04-04 08:46] deepakiim opened #494 "[FEATURE]: Allow passing arguments to first @step function in ZenML pipeline"
### Contact Details [Optional]

_No response_

### Describe the feature you'd like

ZenML doesnt allow passing arguments to first @step function in ZenML pipeline.
`Only outputs from previous steps can be used as arguments when connecting steps.`

ZenML version 0.6.2
[code]

**OUTPUT LOG**

[code]

### Is your feature request related to a problem?

1. Cannot we reuse the steps in ZenML pipeline fo

[2022-04-04 08:53] htahir1 commented on #494
@deepakiim Thanks for the feature request:

It's actually easy to pass in `test` as a list via a `BaseStepConfig` (https://docs.zenml.io/features/pipeline-configuration) 👍

[code]

The above paradigm can be used to parameterize the pipeline (see docs above).

In order see an example of a training/prediction pipeline you can look at the [NBA ZenFile](https://github.com/zenml-io/zenfiles/blob/main/n

[2022-04-04 16:39] htahir1 commented on #494
You're right @deepakiim. Currently, ZenML is designed for batch use-cases and streaming use-cases are something we are not supporting with any extra features (bear in mind ZenML is just a framework so you can of course create custom logic in your steps that leverage streaming ingestion)

Having said that you can of course change the `ImporterConfig` to this.

[code]

To make it accept an input_tex

[2022-04-05 08:50] deepakiim commented on #494
Feel free to go ahead and close this issue.

[2022-04-05 08:51] #494 closed

[2022-04-08 14:29] deepakiim opened #502 "[FEATURE]: Support for python 3.9"
### Contact Details [Optional]

_No response_

### Describe the feature you'd like

Production/UAT/DEV systems are based on python 3.9 and cannot be changed.
Developed zenml pipelines based on 0.6.2 on python 3.6 in local environment.

Now unable to deploy the zenml based model pipeline in production because zenml cannot be installed on python 3.9.

- When is support for python 3.9 expected to be

[2022-04-08 16:12] AlexejPenner commented on #502
Hi @deepakiim - as I understand it the only thing stopping us from offering python 3.9 support is our dependency on tfx. Once tfx offers python 3.9 support we will evaluate an upgrade from our side I would assume.

TFX seems to be close though: https://github.com/tensorflow/tfx/issues/4797

[2022-04-08 16:22] AlexejPenner commented on #502
Regarding a workaround

Not sure how your systems are setup and what your limitations are. Here are some initial thoughts,

Are you able to use docker-containers with python 3.8 installed? Alternatively would you be able to run inside a virtual environment with python 3.8?

Pyenv could be of help in that case to allow for multiple python versions within a system https://realpython.com/intro-to-pye

[2022-04-12 15:28] htahir1 commented on #502
@strangemonad Its a good suggestion but we actually went through many iterations on managing these integrations and settled with the approach with `zenml integration install`. We do not package any integration currently (if you see the [pyproject.toml](https://github.com/zenml-io/zenml/blob/main/pyproject.toml#L50) you'll see the core dependencies). `zenml integration install` is a CLI utility we

[2022-04-12 16:06] deepakiim commented on #502
In this case I don't need tfx related integrations of zenml but the core functionalities on python 3.9. But even then it cannot use zenml due to no support for 3.9 yet.

[2022-04-12 16:15] htahir1 commented on #502
@deepakiim Yes, I would say we can have Python 3.9 in about a month or so. Before that would you try the workaround @AlexejPenner has suggested?

[2022-04-12 17:08] liv4unix opened #510 "[BUG]: torch integration fails, pytorch integration succeeds"
### Contact Details [Optional]

_No response_

### What happened?

I think the PyTorch integration installation step in the "not_so_quickstart" documentation needs updated to reflect "pytorch" instead of "torch":

https://github.com/zenml-io/zenml/tree/main/examples/not_so_quickstart

***This fails***

# install ZenML PyTorch integration
zenml integration install -f torch
Unable to find integratio

[2022-04-13 07:17] htahir1 commented on #510
Indeed you're right. We'll apply a patch to update that example!

[2022-04-14 11:01] deepakiim commented on #502
Thanks @AlexejPenner for th suggestions.
It wont work for us. We decide to change the microservice to python 3.8 temporarily. So that should solve it.

[2022-04-14 11:10] deepakiim opened #519 "[BUG]: Functions with @step decorator throwing TypeError: issubclass() arg 1 must be a class"
### Contact Details [Optional]

_No response_

### What happened?

ZenML version 0.6.2

[code]
This same code had run earlier in python 3.6 zenml 0.6.2

### Reproduction steps

1.
2.
3.
...

### ZenML Version

0.6.2

### Python Version

3.8

### OS Type

Ubuntu (or other Linux Flavor)

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-04-14 11:22] htahir1 commented on #519
@deepakiim This is not a bug (although the error message could be better, we'll add that to the backlog)

You are trying to pass in a list in the importer step `def importer(test: List)` which is not the right way of passing parameters. You should instead do this:

[code]

Then the rest of the code is simple:

[code]

[2022-04-14 12:05] deepakiim commented on #519
Ok. Understood.

[2022-04-14 12:05] #519 closed

[2022-04-14 14:08] deepakiim opened #520 "[BUG]: Many of the existing packages in production conflicting with zenml dependencies hence unable to install"
### Contact Details [Optional]

_No response_

### What happened?

This is not a bug. The production project's model microservice requirements.txt contains the below packages

[code]
I am unable to add zenml 0.7.1 to the above requirements.txt  Because many of the existing package version conflicts with zenml. The main ones that conflict are spacy, pydantic, jinja etc.

In a simple example noteboo

[2022-04-14 22:23] strangemonad commented on #502
@htahir1 thanks for the response. It makes complete sense why you settled on `zenml integration install`. I'd like to echo what @deepakiim replied with. The workaround doesn't really work well for us either. More generally, what happens when I want python 3.10 or 3.11 and tfx or some other integration is still lagging.

I think what I'm suggesting is that the core zenml only be limited to the lowe

[2022-04-15 04:51] AsiaCao commented on #520
I am a first-time user of zenml, who also encountered this issue.
What I did?
I just created a brand new virtual environment, and run `pip install zenml`,  and pip failed complaining dependency conflicts.

[code]

[2022-04-15 06:01] htahir1 commented on #520
@deepakiim Your issue is perhaps related to pydantic and spacy conflicting wth some core dependencies of ZenML. One way to figure this out is to let us know what are the __minimum__ possible dependencies in your environment that you need. After that we can try to loosen some of our internal dependencies to help out.

@AsiaCao Your issue is a bit strange. We are at Version 0.7.2 and your pip seems

[2022-04-17 22:41] tczhao opened #521 "[FEATURE]: The Github About section could include link to the website"
### Contact Details [Optional]

_No response_

### Describe the feature you'd like

The Github About section could use a link to the zenml website.
Would make it slightly easier to navigate for the user

![image](https://user-images.githubusercontent.com/20961507/163734891-ff780f4e-9ca8-4f19-ae95-7949b1837750.png)

### Is your feature request related to a problem?

_No response_

### How do you so

[2022-04-18 12:50] htahir1 commented on #521
Good idea. Done! Thanks for the contribution!

[2022-04-18 12:50] #521 closed

[2022-04-21 03:05] MateusGheorghe opened #526 "[BUG]: Global model in NeuralProphet Example"
### Contact Details [Optional]

mgheorghecr@gmail.com

### What happened?

Hello! I am trying to use zenml with NeuralProphet.
I tried to reproduce the example provided with a global model. In NeuralProphet, we provide a dict when trying to create a global model (see this example - https://github.com/ourownstory/neural_prophet/blob/main/tutorials/feature-use/global_modeling.ipynb). However, zenml

[2022-04-21 06:14] AlexejPenner commented on #526
Hi @MateusGheorghe, Thanks for submitting this issue.

I believe this error is related to this question on Stackoverflow: https://stackoverflow.com/questions/33061302/dictionary-of-pandas-dataframe-to-json

Basically ZenML takes your output Typehint `dict` and uses the associated Materializer for this type. In the case of dict the materialization is simply handled using json.dumps.

When your dict

[2022-04-21 09:45] #520 closed

[2022-04-21 15:51] htahir1 commented on #526
Yes the problem is that you are trying to send in a dict of dataframes:

[code]
etc. And that does not work with our simple dict materializer which uses `json.dumps` as @AlexejPenner said.

If you want to implement a custom materializer, as suggested by @AlexejPenner, then I would recommend looping through this dict and storing all the dataframes (e.g. as a parquet file) in the `handle_return` met

[2022-04-21 15:52] htahir1 commented on #510
We are deprecating not_so_quickstart in the next release, so closing the issue

[2022-04-21 15:52] #510 closed

[2022-04-24 23:34] MateusGheorghe commented on #526
Hello!
@htahir1 and @AlexejPenner
I am going to try your suggestions.
Thank you!

[2022-04-26 03:06] MateusGheorghe commented on #526
Hello guys (@htahir1 and @AlexejPenner)!
I was trying to follow your suggestions but I am still stuck.
I created the custom materialize as the following:

[code]
I updated the `data_loader()` code:
`def data_loader() -> Output(df_train=dict, df_test=dict):
`
Also updated the pipeline:
[code]
Do you know what could be causing the following `NotFoundError`?

╭─────────────────────────────── Tracebac

[2022-04-26 03:39] AlexejPenner commented on #526
@MateusGheorghe I think you might have accidentally switched the logic of the `handle_return()` and `handle_input()` methods as your docstrings describe the correct thing but the logic of the two methods is reversed.

 The `handle_return()` method is responsible for saving the outputs of a step with the associated type. As such this is where your write operation should happen. However, you are per

[2022-04-26 22:36] MateusGheorghe commented on #526
Hi @AlexejPenner! You are right I made a mistake and was doing the handles logic the other way round.
I got it running now! Thanks for your prompt help.
In the following, you can see one example in which we have a NeuralProphet global model working (dict as input). I also added an evaluator step that tests the model on a dict test dataset.

[code]

I was wondering if I could have a custom material

[2022-04-27 11:03] stefannica commented on #479
I re-tested this with the latest (0.7.2) and the bug seems to have been fixed, even earlier, in 0.7.1, when the ZenML profiles feature was introduced. There is still the slight possibility that the code indicated above doesn't work well in some corner-cases. but this is no longer a problem.

[2022-04-27 11:03] #479 closed

[2022-04-27 11:45] AlexejPenner commented on #526
Do you want this materializer to accept a dict of dataframes or is this a standard dict with json-serializable values?

In general nothing stands in your way to make your materializer accept many different types by including all types in the     ASSOCIATED_TYPES list of your materializer. Then you'll just have to handle the logic of writing and reading all the types.

I'll try to capture where you

[2022-04-28 21:03] strangemonad opened #547 "[FEATURE]: re-open 502 decouple python version for zenml core from integration dependencies"
### Contact Details [Optional]

_No response_

### Describe the feature you'd like

This is a dupe of #502 (but I don't have permission to re-open it). I've left a comment there as well. I think it would be meaningful to decouple the python version required by zenml core from the `zenml integration install`ed integrations. As the list of integrations grows, there will likely be many integrations t

[2022-04-29 05:56] sotte commented on #547
I was just about to open a ticket in a similar vein. We also have a 3.9 codebase and I don't care about TF ;)

The problem with #502 is that `tfx` is a essential dependency of zenml AFAIK and that's why zenml is still <3.9.

[2022-04-29 07:30] htahir1 commented on #547
Yes indeed, @sotte. `ml-pipelines-sdk` (the really base version of tfx) is a core dependency @strangemonad. It is not a matter of `zenml integration install`.

The features ZenML is using of `ml-pipelines-sdk` are replaceable however, and that is the eventual goal of the core team in the next quarter or two. However, we are currently internally focusing on cooler features that add value on top rat

[2022-04-29 07:56] fa9r commented on #519
@deepakiim Thanks again for opening this issue, we have improved the error message, now it should hopefully be more clear what is happening.

[2022-05-03 00:40] MateusGheorghe commented on #526
Hi @AlexejPenner ! Thanks for the response.
It is similar to that, but not the same.
I want to have a pipeline that would work either for a dict or pd.DataFrame.
For example, I would have a single pipeline and probably a single materializer and it would work for either a pd.DataFrame or a dict. I wouldn`t need to have different pipelines if I had a dict as input or a pd.DataFrame, does that make s

[2022-05-03 08:53] AlexejPenner commented on #526
Sure @MateusGheorghe - lets continue this conversation in slack. I would love to understand your specifics needs for a Union materializer in more detail. Will be closing this Issue.

[2022-05-03 08:53] #526 closed

[2022-05-03 08:56] htahir1 commented on #547
Let me know if there is more discussion to be had here, otherwise ill close the issue @strangemonad

[2022-05-06 13:15] #547 closed

[2022-05-07 12:28] htahir1 commented on #34
#540 is addressing this now in a simpler way

[2022-05-07 12:29] htahir1 commented on #266
Closing in lieu of #284

[2022-05-07 12:29] #266 closed

[2022-05-17 10:38] #34 closed

[2022-05-17 11:01] strickvl opened #599 "[FEATURE]: Add an SQLite implementation of the Local Secrets Manager"
### Contact Details [Optional]

support@zenml.io

### Describe the feature you'd like

ZenML currently offers a file-based local secrets manager (found at `zenml/src/zenml/secrets_managers/local/local_secrets_manager.py`).

It would be good to have an SQLite implementation of the same behaviours, where secrets were stored locally inside a database.

Generally ZenML likes to use [SQLModel](https://

[2022-05-17 11:11] strickvl opened #600 "[FEATURE]: Add `ignored_columns` to Evidently StandardStep to filter dataframe columns"
### Contact Details [Optional]

support@zenml.io

### Describe the feature you'd like

ZenML currently implements a way to detect drift using [Evidently](https://evidentlyai.com/). We created a standard step that can be used to generate and access Evidently's core visualisations here: `zenml/src/zenml/integrations/evidently/steps/evidently_profile.py`. (Learn more about Evidently and drift detecti

[2022-05-19 07:30] ketangangal commented on #600
Hey @strickvl

 While passing reference dataset and a comparison dataset, if you keep ref columns equal to comparison columns then there is no point of adding ignored_columns . User has to manage this scenario. I can't see any specific use case for it. Please let me know more about your thoughts. I would like to contribute.

 Thanks,

[2022-05-21 14:00] htahir1 commented on #600
@ketangangal What about the case when you want to calculate drift on not all columns but only certain ones? For example if you have a mixed dataset and only want to focus on the numerical ones? I think there is a use-case for it

[2022-05-23 10:00] strickvl opened #616 "[FEATURE]: Log a warning instead of raising an `AssertionError`"
### Contact Details [Optional]

support@zenml.io

### Describe the feature you'd like

In our `pipeline_run_lineage_visualizer` we currently have a bit of code that raises an `AssertionError` when actually we'd rather just log a warning using our CLI utils module.

We raise the error [here](https://github.com/zenml-io/zenml/blob/84258aaafcad95d97e510eeece44cef5287ec700/src/zenml/integrations/dash/

[2022-05-23 11:04] ketangangal commented on #616
Solved

[2022-05-23 11:45] strickvl opened #618 "[FEATURE]: Catch the error if a secret already exist when registering with `AWSSecretsManager`"
### Contact Details [Optional]

support@zenml.io

### Describe the feature you'd like

We currently don't have a check to ensure that a `Secret` doesn't already exist when registering the secret with `AWSSecretsManager`, but we really should check this [here](https://github.com/zenml-io/zenml/blob/373faeee6fe5951e8deb4de88a9d57263117ccb8/src/zenml/integrations/aws/secrets_managers/aws_secrets_mana

[2022-05-23 11:53] strickvl opened #619 "[FEATURE]: Fix formatting for `zenml secret register --help`"
### Contact Details [Optional]

support@zenml.io

### Describe the feature you'd like

When someone uses the `zenml secret register --help` command, the formatting of the CLI help information comes out wrong with line breaks not really happening. It isn't possible to read the text printed to the terminal as executed within [the `register_secret` function](https://github.com/zenml-io/zenml/blob/373

[2022-05-23 12:01] strickvl opened #620 "[FEATURE]: Allow secrets to be created by passing dicts or JSON values"
### Contact Details [Optional]

support@zenml.io

### Describe the feature you'd like

We currently allow for the registration of secrets via an interactive CLI process, or by passing one or more `--secret_key=secret_value` as command line arguments:

[code]

[code]

We would like to enable users to pass in a `dict` or perhaps a JSON/YAML object containing multiple key-value pairs. The dict/JSON/Y

[2022-05-23 12:15] strickvl opened #621 "[FEATURE]: Handle over 100 secrets when using the `AWSSecretsManager`"
### Contact Details [Optional]

support@zenml.io

### Describe the feature you'd like

The [`get_all_secret_keys`](https://github.com/zenml-io/zenml/blob/develop/src/zenml/integrations/aws/secrets_managers/aws_secrets_manager.py#L108) method (found at  `src/zenml/integrations/aws/secrets_managers/aws_secrets_manager.py`) currently has an inbuilt limit whereby it can only access 100 secrets stored

[2022-05-23 17:17] raghumulukutla opened #627 "[BUG]: Unable to create custom steps by extending `BaseStep`"
### Contact Details [Optional]

raghu.tjm@gmail.com

### System Information

ZenML version: 0.8.0
Install path: /Users/-/Library/Caches/pypoetry/virtualenvs/medical-imaging-pipeline-mXFg84T2-py3.7/lib/python3.7/site-packages/zenml
Python version: 3.7.6
Platform information: {'os': 'mac', 'mac_version': '10.16'}
Environment: native
Integrations: ['pytorch', 'scipy', 'sklearn']

### What happened?

[2022-05-23 20:49] schustmi commented on #627
Hi @raghumulukutla!
We rely on type annotations inside steps to find the right classes to read/write the artifacts that are passed between steps. Can you show us the code that `TypeBuiltDataset` is referring to, maybe we can figure out a way to support this data type?

[2022-05-23 20:57] raghumulukutla commented on #627
It's a pretty complex annotation.

```TypeBuiltDataset = Union[LazyDataset, Tuple[LazyDataset, ...]]```

`LazyDataset` however is an instance of `dict`

The thing is that  I am planning to write a `Materializer` for read/writing artifacts myself. Seems like we are restricted to basic types (`int`, `float`, `str`) at the moment while specifying arguments for custom steps?

[2022-05-23 21:04] raghumulukutla commented on #627
Moreover, I get the same error trying to do something simple:

[code]

With the code above, the `BaseMetaClass` tries to check 'IngestConfig` is  an instance of `BaseConfig` and fails because the former of type `str` and not `class`

For comparison this is the code in`base_analyzer.py`, a built-in step:

[code]

[2022-05-23 22:01] htahir1 commented on #627
You can pass natively json-able types as config parameters, so it's a bit more than int float and strings. If your `LazyDataset` is an instance of a dict it might work as a config parameter rather than an artifact. We should definitely make this clearer in the docs.

However, back to the original query: IMO having a complex data type with a `Union` is not the way we intended materializers to recog

[2022-05-24 06:17] schustmi commented on #627
As @htahir already mentioned, the config parameters are at the moment limited to json-serializable data types as ZenML, however the actual step inputs and outputs allow you any custom **class**. Can you explain a little the motiviation of passing a `dict` instance as the type annotation? That would mean your actual inputs/outputs returned from the step would be an instance of an instance of a dict

[2022-05-24 06:35] schustmi commented on #627
Regarding the `Union` type: Those are currently not supported as step inputs/outputs as well as associated types for a materializer, implementing the type validation and logic to find the correct materializer should be possible though.
I personally always thought it was desirable to have the signatures of my pipeline steps clearly defined, I'm guessing in your case the step dynamically receives da

[2022-05-25 08:44] htahir1 commented on #502
@strangemonad The 0.8.1 release now supports Python 3.9!

[2022-05-25 08:44] htahir1 commented on #547
The 0.8.1 release now supports Python 3.9!

[2022-05-25 13:16] anencore94 commented on #619
May I take this issue?

[2022-05-25 13:32] anencore94 opened #645 "[FEATURE]: Manage poetry lock file in repository"
### Contact Details [Optional]

_No response_

### Describe the feature you'd like

It tooks so long time to setup python environment at first. (took 600 seconds for resolving dependency versions in my env)
![image](https://user-images.githubusercontent.com/37469330/170273829-b05bbe5b-074e-44b9-be21-2096c0402199.png)

I saw at github action workflow, it uses cache to reduce `poetry install` time,

[2022-05-25 15:44] ronikurtberg opened #646 "Invalid documentation: 'zenml example list'"
Hi,
As part of the [Examples](https://docs.zenml.io/zenml-example-cli) documentation, you have mentioned that the command to get the full list of examples is `zenml example list`, while actually the updated one is `zenml example list-example`.

[2022-05-25 15:47] schustmi commented on #646
Hi @ronikurtberg, nice catch. The documentation is correct but I actually mistakenly renamed the command. It will be back to `zenml example list` in the next release.

[2022-05-25 16:23] schustmi commented on #646
#647

[2022-05-25 17:06] hectorLop commented on #618
Working on it :smile:

[2022-05-25 23:16] amirhessam88 opened #650 "[BUG]: Version 0.8.1 (Py39) is incompatible with the latest version of bunch other packages"
### Contact Details [Optional]

_No response_

### System Information

Python 3.9.7 64-bit
MacOS BigSur v 11.6.5

### What happened?

@htahir1  Thanks for the Python 3.9 release. I am aware that the issues below are out of your control and somehow I can make this issue work (check the examples below) on my side, however, since you guys are using `poetry` (same as me) that would be better to  check

[2022-05-27 09:38] htahir1 commented on #650
Thanks @amirhessam88 ! Did you get this via `pip` or `poetry`? We only use poetry for internal development, but recommend using pip to install the package itself. Via pip I cannot reproduce this issue. Can you let me know reproduction steps?

[2022-05-27 09:41] htahir1 commented on #645
@anencore94 The reason we dont commit the `poetry.lock` file is that on the [poetry docs](https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control) it is recommended not to do so if you are building a library. I think the reasoning is that you want to be able to test your library in different dependency resolution scenarios because when it is published on pypi, th

[2022-05-27 14:35] amirhessam88 commented on #650
@htahir1 sure; and yes; I do use `poetry`; Let's say you have an environment with 2 packages installed, something like below:
[code]
then,  you would like add `zenml`; so you run:
[code]
.... and then you get the errors; I did fix the `statsmodels` one by downgrading to version `0.12.1` since the clash is related to `packaging` library; however, the conflicts regarding the `attrs` version could no

[2022-05-29 20:09] IanQS commented on #97
Sorry to necro an old thread but I tried looking through the road map and could not find it. What's the status of this? Canceled, on hold, or completed?

Thank you :)

[2022-05-29 21:13] htahir1 commented on #97
We didn't find enough demand so had to prioritize other things for now. However, I can resurface it if you're interested. Contributions are welcome here, what would a JAX integration look like? Similar to the tensorflow one, i.e., having the ability to pass (materialize) JAX models through ZenML pipelines?

[2022-05-29 22:03] IanQS opened #656 "[BUG]: Documentation URLs broken (Type of Stack Component page)"
### Contact Details [Optional]

_No response_

### System Information

Click on the URLs under [Type of Stack Component](https://docs.zenml.io/advanced-guide/stacks-components-flavors) and it'll show that they are broken.

### What happened?

URLs broken

### Reproduction steps

1.
2.
3.
...

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code o

[2022-05-29 22:05] htahir1 commented on #656
True!

[2022-05-29 22:07] #645 closed

[2022-05-30 00:01] IanQS commented on #656
Thank you! I would have submitted a PR myself if I knew where all of them should be pointing to

[2022-05-30 01:26] anencore94 commented on #645
@htahir1 I understand. Thanks for your explanation :)

[2022-05-30 05:02] nicholasjng commented on #97
AFAIK there is no builtin way to load/save JAX models, as it just contains the mathematical machinery for applying transformations and differentiating. For my own uses, I did export some models into HDF5, but that has little to do with JAX.

It's possible that first-party NN-libraries (flax, haiku, etc.) have some machinery for it, though. I think a small example on how to load/train/save a model

[2022-05-30 09:11] #646 closed

[2022-05-30 10:17] htahir1 commented on #650
Thank you that was indeed  very helpful! Unfortunately, as you already said in your first message, this is out of our control. `ml-pipelines-sdk` is a core dependency and we can't easily get rid of it (yet). Therefore, unless they change their `attrs` and `packaging` requirements we are unable to support your request for now.

Is there a way you can simply conform to the attrs and packaging constr

[2022-05-30 11:53] htahir1 commented on #656
Fixed in #652

[2022-05-30 11:53] #656 closed

[2022-05-31 14:46] felixthebeard opened #671 "[FEATURE]: Nested `BaseStepConfig`"
### Contact Details [Optional]

_No response_

### Describe the feature you'd like

I would like to be able to use a nested structure for the BaseStep Config. This would allow the definition of a very generic and configurable pipeline step.

I am trying to build a generic step config that contains a list of processing step configs that can be arbitrary complex.
Here a basic example of the workflow

[2022-05-31 15:44] strickvl commented on #671
Hi @felixthebeard! Thanks for posting this issue. I don't have an immediate answer for you, but I'll look into it and get back to you here when I've had a chance to figure out what's going on.

[2022-06-03 23:37] strangemonad opened #686 "[FEATURE]: Output protocols - Allow capturing specific types of zenml.steps.Output signatures"
## Checks

* [x] I added a descriptive title to this issue
* [x] I have searched (google, github) for similar issues and couldn't find anything
* [x] I have read and followed [the docs](https://docs.zenml.io/) and still think this is a bug

## General

zenml 0.8.1

This probably relates to `TODO [ENG-161]`

**Problem**

The flexibility of `Output` in general is great but as you production-ize cert

[2022-06-04 02:01] strangemonad commented on #547
thanks @htahir1. Slowly getting familiar with the zenml codebase. Didn't realize how much of it was currently dependent on TFX / MLMD. Makes total sense.

[2022-06-06 17:33] j-hartshorn opened #687 "[BUG]: For Mac M1, fresh `pip install zenml` in python 3.9.13 has dependency clashes that prevent install"
### Contact Details [Optional]

_No response_

### System Information

Python 3.9.13 (main, Jun  6 2022, 18:15:49) [Clang 13.1.6 (clang-1316.0.21.2.5)] on darwin
macOS Monterey 12.2.1 (21D62)

### What happened?

Creating a brand new python 3.9 environment (with pyenv) and attempting to install `zenml` with pip fails due to dependency clashes. I would expect this to just work.

### Reproduction st

[2022-06-07 08:27] htahir1 commented on #687
@j-hartshorn I am unable to replicate this issue. Our github actions tests run on Python 3.9 and are able to install ZenML fine. I also verified that `ml-metadata==1.8.0` has Python 3.9 support (https://pypi.org/project/ml-metadata/1.8.0/) .

Are you sure you are using the right environment when you do `pip install zenml` ?

[2022-06-07 08:29] htahir1 commented on #650
Closing this issue due to staleness. Feel free to open it again if there is an update

[2022-06-07 08:29] #650 closed

[2022-06-07 14:52] alfredodeza commented on #687
@htahir1 I just hit the same problem, and although I think it is useful that there is a documented workaround, but it isn't obvious for a user that this is in fact a problem due to an incompatibility with M1s.

Since this is problematic _today_, I would recommend erroring on ARM64 architectures with a meaningful message. I see that ZenML doesn't use `setup.py` which can handle this situation, so I

[2022-06-08 09:02] htahir1 commented on #627
Perfect! Closing now as its solved

[2022-06-08 09:02] #627 closed

[2022-06-08 09:49] schustmi commented on #686
Hi @strangemonad,

thank you for the detailed suggestion/description! I have a few questions to make sure I understood your request/issue correctly.

The motivation behind all of that would be to have reusable definitions of specific `Outputs` that you could use in many different steps, correct? And the two options would then be to either
- allow subclassing of our `Output` class
- introduce an ab

[2022-06-08 11:25] htahir1 commented on #687
Great @j-hartshorn. Can you verify if the workaround fixed?

@alfredodeza You're right but then lets change the issue name  to reflect it closely

This is also related #93

[2022-06-08 11:55] alfredodeza commented on #687
@htahir1 is the plan to steer away from the Tensorflow dependency as noted in https://github.com/zenml-io/zenml/issues/93#issuecomment-887324971 ?

[2022-06-08 13:20] nicholasjng commented on #97
Totally. I got some time on the weekend, happy to take a look then. It may or may not be as straightforward for me though, depending on the usability of ZenML on M1. I'll get it done!

[2022-06-08 13:33] j-hartshorn commented on #687
@htahir1 I'm reluctant to install an entirely new python toolchain to handle this particular case, it seems like a severe workaround. We have alternate linux environments we can use zenml that work in the mean time and I'll keep an eye out for potential fixes in the future.

[2022-06-09 07:00] htahir1 commented on #687
@alfredodeza We do not have a tensorflow dependency. If you mean the dependency with ml-pipelines-sdk, then that is definitely something on the roadmap to do but I cant give a clear timeline for it.

@j-hartshorn Sorry about that! The Mac M1 experience is really painful. Even within the core maintainer team, we have a few people using it like @safoinme and @schustmi and we know the pain for sure.

[2022-06-09 07:38] htahir1 commented on #97
M1 is a bit problem unfortunately. Let me know if it doesnt work though!

[2022-06-10 08:29] #618 closed

[2022-06-12 23:40] strangemonad opened #700 "[BUG]: steps can't be configured with step config subclasses (for example slack alerter)"
### Contact Details [Optional]

shawnmorel@gmail.com

### System Information

ZenML version: 0.8.1
Install path: /Users/shawnmorel/Code/rivian/me/factory-data/factory-data-algorithms/projects/common/process-health/.venv/lib/python3.9/site-packages/zenml
Python version: 3.9.9
Platform information: {'os': 'mac', 'mac_version': '12.4'}
Environment: native
Integrations: ['aws', 'kubeflow', 'scipy', 's

[2022-06-12 23:53] strangemonad commented on #700
Also, just to confirm that this really is a serializer issue, here's my current work-around that is able to send messages without any issues (it's a slightly modified version of `alerter_step` that takes a SlackAlerterConfig in it's method signature

[code]

[2022-06-13 13:56] fa9r commented on #700
Hi Shawn, thanks so much for the issue.

I'm really amazed by your analysis, that is exactly what is happening indeed. We were discussing this issue internally and are considering removing the general `alerter_step` in favor of an integration-specific `slack_alerter_step`. However, we are still not 100% decided, as integration-specific steps mean that you need to change your code when switching st

[2022-06-13 21:27] strangemonad commented on #700
@fa9r no worries. Thanks for an amazing framework!

For what it's worth here's what I would like to see.

1. I think the option to have specific alerters makes a ton of sense. By and large, internally we're always going to use the same chat ops and the stacks are really more about moving from DEV slack token / channel to PROD slack token and channel. A specific slack alerter step allows deeper int

[2022-06-14 11:11] Tob-iee commented on #620
Hello @strickvl please i would like to work on this issue

[2022-06-14 11:14] strickvl commented on #620
Sounds good, @Tob-iee. Is everything clear in terms of how you think you'd go about implementing it? I assume you'll reference the local secrets manager when you work on this?

Also, please do make sure you add some tests to cover these changes if you do go ahead with this!

The rest of our processes etc for contributions is [described here](https://github.com/zenml-io/zenml/blob/main/CONTRIBUTING

[2022-06-14 11:22] Tob-iee commented on #620
I was hoping to have a discussion about it prior to its implementation as stated in the description to help clarify things for me. Hope that will be possible.

[2022-06-14 11:25] strickvl commented on #620
Yes of course. Maybe we could start with your understanding of the problem / what needs doing? Or is the description unclear and you'd want me to explain more?

[2022-06-14 11:36] Tob-iee commented on #620
From what I can understand, we want to enable the function to take in a Dict/JSON datatype as its input parameter for the "secret_key" and "secret_value" as one rather than passing two separate str data types for each of them. But one question I have here is that would it still be an Interactive CLI after this implementation

[2022-06-14 11:41] strickvl commented on #620
I think there would be no need for the interactive part once you are passing in a dict or JSON. You can see the final clause of the condition [here](https://github.com/zenml-io/zenml/blob/080b9f30b75dbf87b24bdfed488c405d44ac2d8c/src/zenml/cli/secret.py#L137] on line 137 only runs if no other values have been passed in.

I think, however, we should only allow one way of passing these in per functio

[2022-06-14 12:52] Tob-iee commented on #620
Okay, I understand better now, if I face any blocker I'll be sure to reach out. but just to be clear on something, the secrets in question here will be used by zenML CLI for access right?

[2022-06-14 13:40] strickvl commented on #620
The secrets get used by our Secrets Manager stack component. You can read more about it [here](https://docs.zenml.io/advanced-guide/manage-your-secrets) and also check out the practical example [here](https://github.com/zenml-io/zenml/tree/main/examples/cloud_secrets_manager).

[2022-06-17 09:31] Tob-iee commented on #620
Hello, @strickvl pleas can you check on the slack when you have time

[2022-06-17 10:15] strickvl commented on #620
Hi I don't see any messages from you. You're posting in the ZenML slack?

[2022-06-17 10:18] Tob-iee commented on #620
Yea, It's a DM on ZenML slack

[2022-06-17 10:35] strickvl commented on #620
![ScreenShot 2022-06-17 at 12 35 07](https://user-images.githubusercontent.com/3348134/174282013-7a0cf565-0e92-485e-8285-35ca8cd763ad.png)

[2022-06-19 18:02] strangemonad commented on #686
Hello, just so you know. I'm still thinking of how to explain this need more clearly with a set of motivating examples. I'm fairly familiar with Argo Pipelines, KF Pipelines and programing language and type theory but still somewhat new to how zenml attempts to wrap this neatly atop TFX and MLMD with outputs, artifact types and materializers.

In particular, I think there could be. A much cleaner

[2022-06-20 12:14] fa9r commented on #700
@strangemonad @amirhessam88 I temporarily fixed this issue in #714 by removing the general alerter steps and replacing them by Slack-specific steps. This will be live after the next release (probably end of next week). @strangemonad thanks again for bringing up the issue!

[2022-06-20 12:14] #700 closed

[2022-06-21 11:48] htahir1 commented on #686
Curious to hear your thoughts

[2022-06-21 11:50] htahir1 commented on #616
#628 closes this

[2022-06-21 11:50] #616 closed, assigned to strickvl

[2022-06-22 15:42] Val3nt-ML opened #718 "[BUG]: Windows OSError when adding s3 artifact-store"
### Contact Details [Optional]

val3ntin.laurent@gmail.com

### System Information

- ZenML version: 0.9.0
- Install path: C:\Users\vlaurent\Anaconda3\envs\re-estimation-38\Lib\site-packages\zenml
- Python version: 3.8.13
- Platform information: {'os': 'windows', 'windows_version_release': '10', 'windows_version': '10.0.19044', 'windows_version_service_pack': 'SP0', 'windows_version_os_type': 'Mul

[2022-06-23 23:50] RoyerRamirez opened #720 "[BUG]: Orchestrator is unable to access ML Pipelines API"
### Contact Details [Optional]

### System Information

ZenML version: 0.9.0
Install path: /home/jovyan/factory-data-algorithms/projects/common/process-health/.venv/lib/python3.9/site-packages/zenml
Python version: 3.9.9
Platform information: {'os': 'linux', 'linux_distro': 'ubuntu', 'linux_distro_like': 'debian', 'linux_distro_version': '20.04'}
Environment: docker
Integrations: ['kubeflow', 'sci

[2022-06-24 04:25] dnth opened #721 "Broken Link to Functional API Guide on README page"
The link to Functional API Guide is broken.

Clickinn on the link leads to https://docs.zenml.io/v/docs/guides/functional-api but it does not exist on the docs page.
The screenshot below shows the broken link in red circle.

![image](https://user-images.githubusercontent.com/6821286/175461623-586caa8e-10cc-4056-98fb-6ccecce00044.png)

[2022-06-24 07:28] strickvl commented on #721
Feel free to bundle any of these broken links that you've found into a PR. I saw there were some fixed links in #722 but those are merged already.

We also have a ticket / task to have a more automated way of checking for dead or broken links which @htahir1 is working on, but nevertheless good to get these fixes in wherever you see them.

Thanks!

[2022-06-24 08:20] stefannica commented on #720
@RoyerRamirez thank you for opening this issue ! The Kubeflow orchestrator [does provide some advanced configuration attributes](https://github.com/zenml-io/zenml/blob/main/src/zenml/integrations/kubeflow/orchestrators/kubeflow_orchestrator.py#L92-L116) that you can tweak that might just allow running pipelines from within the same cluster as Kubeflow, although we never tried this use-case:

* `ku

[2022-06-24 08:30] dnth commented on #721
For the links in https://github.com/zenml-io/zenml/pull/722 I could make an educated guess where they are suppose to land in the ZenML webpage.

But for this particular link, I'm not very sure as I could not find anything related to Functional API on the webpage other than

![image](https://user-images.githubusercontent.com/6821286/175496322-40117505-0515-4218-97fc-dc1a0055895a.png)

Is the broken

[2022-06-24 08:34] strickvl commented on #721
Hmmm yeah that's not especially clear! That page offers both the class-based and functional ways to use `steps`. I think the arrow you have pointing to the 'Functional API' is exactly where the functional pieces are listed, but we could probably do better to explain at the top what the two different approaches are used for / suited for.

[2022-06-24 08:51] dnth commented on #721
I think an explanation at the top will definitely help especially with new users who's unfamiliar with the API.

The screenshot is taken from https://docs.zenml.io/developer-guide/class-based-api

I suppose the "class-based-api" in the link will be changed to something general that covers both class and functional API?
Should I wait for the link to be updated and then make another PR? And keep thi

[2022-06-24 08:56] strickvl commented on #721
The link can be changed via the `toc.md` file. You're welcome to bundle a suggested change for that together with the explanation. Otherwise I'll create an internal ticket for us to create that. Today we're mainly focused on getting things ready for our release early next week, so unlikely to be much movement on this from our side until next week.

[2022-06-24 21:32] RoyerRamirez commented on #720
Hi @stefannica, thank you. I'm going to close this bug.

[2022-06-24 21:32] #720 closed

[2022-06-25 23:17] strangemonad opened #726 "[FEATURE]: return a reference to the pipeline run from the BasePipeline#run method"
### Contact Details [Optional]

shawnmorel@gmail.com

### Describe the feature you'd like

A very common case is to fetch the run results of a pipeline run. It would be very convenient to return a value from `BasePipeline#run()`  that could be used to fetch the pipeline run details.

Given
[code]

**Option 1**

`run` could be an instance of a Repository `PipelineRunView`. This approach would mean

[2022-06-26 00:23] strangemonad opened #727 "[FEATURE]: Allow fetching from Repository by name or type"
### Contact Details [Optional]

shawnmorel@gmail.com

### Describe the feature you'd like

This is tangentially related to #726

Currently, when you want to fetch items from a `Repository` you need to use strings to identify the keys. I would like to be able to use the pipeline and step objects to fetch views from the repository.

In general, we'd like to limit how much we rely on string naming ag

[2022-06-26 14:47] VictorW96 opened #728 "[BUG]: Kubeflow Pipelines GCP example doesn't work. Kubeflow metadata store is not ready yet"
### Contact Details [Optional]

victor.wolf@qaware.de

### System Information

ZenML version: 0.9.0
Install path: /home/victor/.local/lib/python3.8/site-packages/zenml
Python version: 3.8.10
Platform information: {'os': 'linux', 'linux_distro': 'ubuntu', 'linux_distro_like': 'debian', 'linux_distro_version': '20.04'}
Environment: native
Integrations: ['gcp', 'kubeflow', 'mlflow', 'scipy', 'seldon'

[2022-06-26 20:04] htahir1 commented on #728
Can you try doing `zenml stack up` again and see if it solves the problem?

[2022-06-27 04:31] VictorW96 commented on #728
No the same thing happens again. I think the metadata store and the kubeflow orchestrator are both thought of local by zenml. When I deprovision the resources with `zenml stack down --force
` I get the following output:
`Deprovisioning resources for stack 'gcp_kubeflow_stack'.
Deprovisioned resources for KubeflowOrchestrator(type=orchestrator, flavor=kubeflow, name=gcp_kubeflow_orchestrator, uuid=

[2022-06-27 13:12] AlexejPenner commented on #727
Hi @strangemonad, I'll have a look at this one and get back to you if any questions arise.

[2022-06-27 13:20] VictorW96 opened #729 "[BUG]: Evaluator step in kubeflow_pipelines_orchestration example fails when using a google cloud artifact storage bucket."
### System Information

ZenML version: 0.9.0
Install path: /home/victor/.local/lib/python3.8/site-packages/zenml
Python version: 3.8.10
Platform information: {'os': 'linux', 'linux_distro': 'ubuntu', 'linux_distro_like': 'debian', 'linux_distro_version': '20.04'}
Environment: native
Integrations: ['gcp', 'kubeflow', 'mlflow', 'scipy', 'seldon', 'sklearn', 'tensorflow']

### What happened?

The eva

[2022-06-27 13:21] htahir1 commented on #729
@VictorW96 thanks for the report we'll check asap

[2022-06-27 14:31] fa9r commented on #726
Hi Shawn, awesome suggestion, I feel like this would also make post execution in all our examples much more intuitive to new users.

Right now, the remote orchestrators (especially Airflow) are the main obstacle. We will probably need to majorly rework those. But IMO this is a great suggestion and worth the effort, I'll look into how this can be done.

[2022-06-27 16:42] stefannica commented on #728
Hi Victor, thank you for opening this issue. Your stack setup looks good. Even if you see `host=127.0.0.1` in your metadata store configuration, that is expected. When you run `zenml stack up`, the gRPC metadata service port is forwarded locally via a `kubectl port-forward` command, which is why you see ZenML trying to access the metadata store on your localhost.

Here are a few things you can try

[2022-06-28 07:33] stefannica commented on #728
Hey Victor, I think this happens because the pipeline is still running when the Tensorboard visualizer call is reached in the post-execution workflow, and the pipeline hasn't yet had a chance to be recorded in the metadata store.

There are two ways you can address this. You can either reconfigure your orchestrator to wait until the pipeline run is complete before it starts the visualizer (see bel

[2022-06-28 09:10] schustmi commented on #729
Hi @VictorW96, I've managed to get in [some fixes for the GCP artifact store](https://github.com/zenml-io/zenml/pull/730) into our `0.10.0` [release](https://github.com/zenml-io/zenml/releases/tag/0.10.0) (out now!) which address the first exception raised in your stack trace:
[code]

The later errors regarding not finding a file only happen due to the first one, and are much more difficult to res

[2022-06-28 12:27] AlexejPenner commented on #727
I have made some experimental changes to the repository, you can find the draft [here](https://github.com/zenml-io/zenml/pull/733) - this is work in progress and I hope to get it into our next release in two weeks. Feel free to take a testdrive and let me know if its the behaviour you were looking for.

[2022-06-28 15:56] AlexejPenner commented on #718
Hey @Val3nt-ML I may have found your issue today. We were using pathlib.Path to manipulate the artifact-store paths which stripped one of the backslashes away from the s3-path. This lead to the materializer of the stepoutputs to try creating these directories locally on your machine.

The PR to fix this can be found [here](https://github.com/zenml-io/zenml/pull/735)

It would be awesome if you cou

[2022-06-28 20:24] strangemonad opened #736 "[BUG]: can't register a feast stack component because the feast feature store flavor has an incorrect FlavorWrapper source module"
### Contact Details [Optional]

shawnmorel@gmail.com

### System Information

ZenML version: 0.9.0
Install path: /Users/shawnmorel/Code/rivian/me/factory-data/factory-data-algorithms/projects/common/process-health/.venv/lib/python3.9/site-packages/zenml
Python version: 3.9.9
Platform information: {'os': 'mac', 'mac_version': '12.4'}
Environment: native
Integrations: ['feast', 'kubeflow', 'scipy',

[2022-06-29 03:56] strickvl commented on #736
Thanks for reporting this. I was just going to write a quick reply to say that this has already been fixed, but when I go to the `develop` branch to confirm it then it seems like it wasn't fixed. Not sure what happened there. I'll pass on your suggestion on having a less flaky way to pass in that pattern to the core team. You're right it does seem error prone..

[2022-06-29 12:34] stefannica commented on #720
@RoyerRamirez just for the sake of completeness, in case we run into this situation again in the future: were you able to implement your use-case with those extra orchestrator parameters ?

[2022-06-29 16:13] Val3nt-ML commented on #718
Ok thanks, I'll try it and keep you informed !

[2022-07-01 15:24] Val3nt-ML commented on #718
I've just tested It, and It seems that I still have the same issue :(

`OSError: [WinError 123] La syntaxe du nom de fichier, de répertoire ou de volume est incorrecte: 'C:\\Users\\vlaurent\\My_Git_Repo\\Test_ZenML\\s3:\\data-warehouse\\zenml_artifact_store\\fetch_input\\.system\\stateful_working_dir'`

[2022-07-04 16:01] AlexejPenner commented on #726
Hey @strangemonad. As it currently stands we won't be able to implement exactly what you asked very soon as there are many open questions around this:

* How does this behave if the orchestrator is not running synchronously and the run-name is also created on the side of the orchestrator (currently I believe that our Vertex AI orchestrator is assigned the run_id during runtime if not set manually)

[2022-07-04 19:46] strangemonad commented on #726
Hey @AlexejPenner, this idea of merging some of the PipelineView and RunView behavior is interesting. I think all the points you've mentioned are really appropriate and maybe hint that it's worthwhile using this use case to flesh out the right abstractions (getting this abstraction correct is probably more important to me long term, and I'm willing to wait a little, than quickly solving for just f

[2022-07-04 20:21] strangemonad commented on #726
also, let me know if sketching out some of these details in code might be helpful

[2022-07-04 20:46] strangemonad opened #752 "[FEATURE]: allow `slack_alerter` stack component to use secrets"
### Contact Details [Optional]

shawnmorel@gmail.com

### Describe the feature you'd like

Since stacks should be shareable, we'd like a way to configure stack components (e.g. the slack alerter) without specifying a secret in the component (e.g. `slack.yaml` currently contains a `slack_token`).

It would be nice if components had a systematic way of ensuring they never store secrets and instead r

[2022-07-05 14:28] htahir1 commented on #728
@VictorW96 Can I close this issue in favor of #729 ?

[2022-07-05 14:29] htahir1 commented on #721
@dnth has this been fixed in a PR? Just wanted to surface it ? :-)

[2022-07-05 14:56] dnth commented on #721
It's not yet fixed in any PR at the moment. But this issue will be addressed in the documentation restructuring.

[2022-07-05 15:18] schustmi commented on #752
Hi @strangemonad, thanks for the issue.

Some of our existing components (e.g. the [`AzureArtifactStore`](https://github.com/zenml-io/zenml/blob/main/src/zenml/integrations/azure/artifact_stores/azure_artifact_store.py#L58-L61)) already use an [authentication mixin](https://github.com/zenml-io/zenml/blob/main/src/zenml/stack/authentication_mixin.py).
This mixin:
- adds an `authentication_secret` a

[2022-07-05 19:28] AlexejPenner commented on #726
Thanks for all the detailed ideas and thoughts. You have given us a lot of valuable input for our Design Planning around this. As you mentioned, this will probably turn into a collection of design changes. Especially polling state and handling asynchronous runs are due some love from our side. I'll keep you updated and would love to hear your input once we have come up with a coherent Design Docum

[2022-07-05 23:22] strangemonad commented on #752
That makes sense @schustmi

**1. Keep the current solution?**

As much as possible, I'd love if the zenml architecture gently coaxes you into security best practices the same way the pipelines and steps API "tricks" you into writing robust production pipelines from the get go.

a) My personal preference would be to always use secrets for sensitive component information so that stacks are always sh

[2022-07-06 09:33] AlexejPenner commented on #752
@strangemonad just as a quick reply to your first point, I really like the ideas however there is a bit more complexity hiding here as it the stack component creation does not take place in the context of the eventual stack(s) that the component will end up in. So when I am creating my alerter, i will only be able to add it to an existing stack or create an existing stack after creation of the com

[2022-07-06 14:19] strangemonad commented on #752
Ah right. I wasn't thinking about how components can be joined to multiple stacks.

I don't have the code in front of me right now but that would imply you light be able to run the component validator when adding the component to the stack? Maybe that's also the correct point for the Cli to (optionally) interactively prompt for the secrets if they don't exist?

Just thinking further, since there's

[2022-07-06 15:27] atanikan opened #754 "[BUG]: ZenML server docker container does not work"
### System Information

ZenML version: 0.10.0
Install path: /home/atanikanti/zenmlenv/lib/python3.8/site-packages/zenml
Python version: 3.8.13
Platform information: {'os': 'linux', 'linux_distro': 'ubuntu', 'linux_distro_like': 'debian', 'linux_distro_version': '22.04'}
Environment: native
Integrations: ['dash', 'evidently', 'facets', 'mlflow', 'plotly', 'scipy', 'sklearn']

### What happened?

I

[2022-07-06 18:23] GerryR opened #755 "[BUG]: kubeflow pipeline, ModuleNotFoundError: No module named 'zenml.entrypoints'"
### Contact Details [Optional]

_No response_

### System Information

The command to get the environment info does not work (I am using MacOS):
[code]

### What happened?

I built a ZenML pipeline the works with the default stack. I tried to deploy it locally with kubeflow pipeline following these instructions: https://docs.zenml.io/v/0.7.0/guides/functional-api/deploy-to-production. I am using Z

[2022-07-06 23:03] GerryR commented on #755
Found the issue! I had a folder called `zenml` in my project root, so `import zenml` wasn't working as expected.

[2022-07-06 23:03] #755 closed

[2022-07-07 03:37] strangemonad opened #756 "[BUG]: non-local Kubeflow Metadata store incorrectly reports not running"
### Contact Details [Optional]

shawnmorel@gmail.com

### System Information

ZenML version: 0.10.0
Install path: /home/jovyan/factory-data-algorithms/projects/common/process-health/.venv/lib/python3.9/site-packages/zenml
Python version: 3.9.9
Platform information: {'os': 'linux', 'linux_distro': 'ubuntu', 'linux_distro_like': 'debian', 'linux_distro_version': '20.04'}
Environment: docker
Integrat

[2022-07-07 07:44] #736 closed

[2022-07-07 09:08] stefannica commented on #756
Hello @strangemonad and thank you for reporting this issue !

There seems to be some left-over confusion about what `zenml stack up` really does. Traditionally, this command was used exclusively to provision resources for local stack components, like the local k3d cluster and kubeflow deployment for the kubeflow orchestrator. However, this has changed with more recent ZenML versions to cover use-c

[2022-07-07 11:12] stefannica commented on #754
Regarding your user/password question, ZenML currently uses a rudimentary user account system to authorize access to the ZenML server, [as described in the docs](https://docs.zenml.io/collaborate/zenml-server#zenserver-user-management). In your case, you have to use the `default` username with an empty password to access the REST API in the browser.

[2022-07-07 16:05] htahir1 commented on #756
Isnt this also related somehow to #728 ? Perhaps @VictorW96 can confirm this is the behavior he sees?

[2022-07-12 00:44] strangemonad commented on #756
@stefannica interesting and I see the reasoning. I think this might need more nuance though. @RoyerRamirez and I are preparing a more comprehensive writeup of all the rough edges we've run into getting a pipeline working against an AWS Kubeflow deployment.

For this one in particular, I think there needs to be a way to have it both ways.
1. some times you need to fetch artifacts after the run (in

[2022-07-12 11:37] htahir1 commented on #756
Sorry to butt into the conversation, but @strangemonad you might appreciate our new repo here: https://github.com/zenml-io/mlops-stacks

It allows you to quickly get a cloud based stack running with some opinionated configuration. We also have a rehaul of the docs coming up with more focus on the cloud stuff.

It isnt finalized yet and we have not really launched it, but the goal would also be to

[2022-07-12 15:15] AlexejPenner commented on #752
You are totally right about the potential confusion across profiles, stacks, stack components, etc. - the way you are describing it, it sounds like you would prefer to use some stack components (like the secrets manager) as defacto profile component that is shared across stacks - definitely an interesting thought.

Regarding the interactive secret prompt after validation, this should be doable, I'

[2022-07-12 18:33] htahir1 commented on #729
@VictorW96 would appreciate some insights from you whether this is still failing?

[2022-07-13 15:34] danguitavinas opened #767 "[BUG]: SageMaker + S3 artifact store fails trying to create a new bucket"
### Contact Details [Optional]

_No response_

### System Information

Zenml == 0.10.0

### What happened?

Zenml is trying to create a s3 bucket and fails due to incorrect regex in its name.

### Reproduction steps

1. Create a SageMaker pipeline.
2. Create a s3 artifact store.
3. Run the pipeline

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code o

[2022-07-13 15:46] schustmi commented on #767
Hi @danguitavinas,

I'm guessing from the stack trace that you're running on windows with the local orchestrator? If that's the case, my guess is that this issue should be fixed by #735.

If you're interested in trying this, you could install ZenML from that branch using the command `pip install git+https://github.com/zenml-io/zenml.git@bugfix/windows-source-utils`

[2022-07-14 06:39] stefannica commented on #756
To say that I'm really looking forward to reading it would be an understatement :smile:

[2022-07-14 07:11] danguitavinas commented on #767
Thank you so much, that worked! Im closing the issue!

[2022-07-14 07:11] #767 closed

[2022-07-15 06:44] htahir1 opened #770 "[BUG]: Slow performance of post-execution workflows for remote metadata stores"
### Contact Details [Optional]

_No response_

### System Information

ZenML 0.10.0

### What happened?

Doing repo.get_pipeline("...").runs[-1] takes multiple minutes when using remote metadata stores.

The bottleneck is in accessing the .runs. I assumed the issue might be related to pipelines having multiple runs, but the number of existing runs seems to not affect the loading speed, it is consi

[2022-07-15 13:56] tunayokumus opened #772 "[BUG]: "zenml example pull" still refers to an older release"
### Contact Details [Optional]

_No response_

### System Information

ZenML version: 0.10.0
Install path: /home/t00238/miniconda3/envs/zenml_v0_10/lib/python3.8/site-packages/zenml
Python version: 3.8.13
Platform information: {'os': 'linux', 'linux_distro': 'ubuntu', 'linux_distro_like': 'debian', 'linux_distro_version': '20.04'}
Environment: native
Integrations: ['great_expectations', 'scipy', '

[2022-07-15 14:04] stefannica commented on #772
@tunayokumus thank you for filing this !

I think yours might be a case of cache deprecation. ZenML does keep a cache of all examples it downloads locally in [the global configuration directory](https://docs.zenml.io/developer-guide/repo-and-config#the-global-config) under a `zenml_examples` subfolder.

You can correct the problem by simply passing the `-y` option when you run `zenml example pull`

[2022-07-15 14:50] #772 closed

[2022-07-15 20:45] sbakiu opened #773 "[BUG]: InvalidGitRepositoryError when using `kubeflow_pipelines_orchestration` example"
### Contact Details [Optional]

_No response_

### System Information

[code]

### What happened?
Following the instructions @ https://github.com/zenml-io/zenml/tree/main/examples/kubeflow_pipelines_orchestration,
running the command `zenml example run kubeflow_pipelines_orchestrator`, throws the following issue:
[code]

### Reproduction steps

1. Create a new virtual env
2. `pip install zenml`
3.

[2022-07-16 12:48] htahir1 commented on #773
Hi @sbakiu sorry that you experienced that. I was not able to do it on my own machine. Are you sure that git is installed on your machine? That perhaps is an undocumented pre-requisite for this example.

zenml example pull basically does the following automatically which you could replicate manually for now:

[code]

[2022-07-17 00:31] strangemonad commented on #756
@stefannica @htahir1 @RoyerRamirez here are the rough notes establishing the context of what we're trying to setup and the roadblocks we hit. https://notes.strangemonad.com/Zenml+stack+setup+thoughts still rough but hopefully sketches enough of an outline.

@htahir1 I had seen the repo. Setting up the infrastructure with terraform isn't _our_ roadblock (though I might suspect it is for many that d

[2022-07-18 04:48] sbakiu commented on #773
Hey @htahir1, yes I have `git` installed. Cloning the repo with `git clone` works as expected, but using the wrapper still throws the same issues.
BTW, I am using python3.8

[2022-07-18 05:00] sbakiu commented on #773
Here is the full error message:
[code]

Seems like the error is coming from here: https://github.com/zenml-io/zenml/blob/main/src/zenml/cli/example.py#L299

[2022-07-18 14:33] fa9r commented on #773
Another question, do you have a new Mac with M1 chip by any chance?

[2022-07-18 14:43] sbakiu commented on #773
Hey @fa9r ,

I still get the same issue with the new command. I am using an older Macbook version with an Intel chip.
This was the first time I pulled the examples.

Not sure what is missing. My assumption is that I don't need to clone the repo before being able to pull the examples. Is that correct?

[2022-07-18 14:58] fa9r commented on #772
Fixed the underlying issue in #776

[2022-07-18 15:20] fa9r commented on #773
Hmm, then I am also not sure what is happening here. Unfortunately, I cannot reproduce the issue. On my machine (M1 Mac) the example is downloaded correctly. I'll ask some of my colleagues with Intel Macs to reproduce this.

In the meanwhile, you could download and run the example manually like this:
- clone the zenml repo
- go to `examples/kubeflow_pipeline_orchestration`
- follow the guide for r

[2022-07-18 16:43] sbakiu commented on #773
yeah, no worries. I can work around that

[2022-07-19 14:01] signaleleven opened #780 "[BUG]: importing pipeline requirements via requirements.txt does not work if requirements.txt ends with a newline"
### Contact Details [Optional]

me@sig11.space

### System Information

[code]

### What happened?

Specifying pipeline requirements via `requirements.txt` as documented [here](https://docs.zenml.io/v/docs/developer-guide/advanced-usage/docker) does not work:

the way `requirements.txt` is parsed here https://github.com/zenml-io/zenml/blob/main/src/zenml/pipelines/base_pipeline.py#L315 appears to

[2022-07-19 14:53] AlexejPenner commented on #780
Thank you for raising this issue, I hope the [fix](https://github.com/zenml-io/zenml/pull/781) will make it into our next release today or tomorrow.

[2022-07-19 14:57] signaleleven commented on #780
Awesome! Thank you!

[2022-07-21 13:41] htahir1 commented on #721
If fixed id suggest we choose

[2022-07-21 14:39] dnth commented on #721
Just opened a PR to fix this.

[2022-07-21 15:28] stefannica opened #788 "[BUG]: profile with MySQL store doesn't work"
### Contact Details [Optional]

_No response_

### System Information

System details are irrelevant

### What happened?

ZenML profiles with a MySQL server as back-end are not functional. E.g. the following command:

[code]

fails when trying to create the default components & stack:

[code]

### Reproduction steps

1. provision or use an existing MySQL server (e.g. the one provided with Kubeflow

[2022-07-25 06:11] htahir1 commented on #780
@signaleleven Please do check if its fixed. If yes, go ahead and close the issue :-)

[2022-07-25 06:11] htahir1 commented on #773
@sbakiu As we could not reproduce this issue, I would ask that we close it and re-open it in case someone else encounters the same

[2022-07-25 09:38] signaleleven commented on #780
Tested now, fails with 0.10.0, works with 0.11.0 :)
Thanks a lot!

[2022-07-25 09:38] #780 closed

[2022-07-27 02:48] #721 closed

[2022-07-29 13:46] stefannica commented on #752
@strangemonad FYI we're introducing secret scoping that will give users better control over how secrets are shared across secrets manager components: https://github.com/zenml-io/zenml/pull/803

[2022-07-29 15:08] #773 closed

[2022-08-08 13:38] schustmi commented on #752
@strangemonad #817 implements a generic way of referencing secrets in configurations of stack components as well as many other details discussed here. It currently does not include any automated prompting for secrets when a component is registered or added to a stack, as even in the second case there might not be a secrets manager. We instead opted for a simple CLI command `zenml stack register-se

[2022-08-11 07:47] alarivarmann opened #839 "[BUG]: Import/Export not working with local Kubeflow stacks"
### Contact Details [Optional]

alari.varmann@silo.ai

### System Information

ZenML version: 0.11.0
Install path: /media/alaridl/DATA_LINUX1/pypoetry/virtualenvs/zenmlenv-Rn-xthbg-py3.9/lib/python3.9/site-packages/zenml
Python version: 3.9.13
Platform information: {'os': 'linux', 'linux_distro': 'ubuntu', 'linux_distro_like': 'debian', 'linux_distro_version': '20.04'}
Environment: native
Integrat

[2022-08-11 14:32] fa9r commented on #839
Hi Alari,

Thanks for opening the issue. Could you try manually removing the following line from your exported YAML file and then retry the import command:

[code]

This should force the Kubeflow orchestrator to regenerate the `kubernetes_context` attribute when being imported.

Best regards,
Felix

[2022-08-15 13:02] dnth opened #845 "[BUG]: ZenML could not find .docker file"
### Contact Details [Optional]

_No response_

### System Information

[code]

### What happened?

I ran a pipeline and got an error that says

[code]
To get around this error I have to manually export the .docker file with
[code]
I installed Docker on my Ubuntu machine using Snap package manager.

### Reproduction steps

_No response_

### Relevant log output

[code]
### Code of Conduct

- [X] I

[2022-08-15 13:37] dnth opened #847 "[BUG]: Resource Limit Exceeded on AWS."
### Contact Details [Optional]

_No response_

### System Information

[code]

### What happened?

I tried running a pipeline on the AWS Sagemaker stack and got the following error

[code]

My region is Asia Pacific (Singapore) ap-southeast-1

### Reproduction steps

_No response_

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-08-16 11:11] Coder-Vishali opened #848 "[BUG]: Container registry registration failing because of not specifying flavor"
### Contact Details [Optional]

vishalisrinivasan97@gmail.com

### System Information

ZenML version: 0.12.0
Install path: C:\Users\vishali\Anaconda3\Lib\site-packages\zenml
Python version: 3.8.8
Platform information: {'os': 'windows', 'windows_version_release': '10', 'windows_version': '10.0.19041', 'windows_version_service_pack': 'SP0', 'windows_version_os_type': 'Multiprocessor Free'}
Environme

[2022-08-16 11:14] htahir1 commented on #848
Yes! As it says on the error, please try running it with the `-f` flag:

[code]

[2022-08-24 08:31] #848 closed

[2022-08-26 14:11] rafaelvp-db opened #863 "[FEATURE]: Support for Databricks Workflows & Databricks Model Serving"
### Contact Details [Optional]

rafael.pierre@gmail.com

### Describe the feature you'd like

Hi, first of all - ZenML is awesome :)

Some nice feature were added to Databricks recently - namely Databricks Workflows for orchestration and Databricks Serverless Model Endpoints (for realtime REST API model deployments)

Would be nice to have these as part of the ZenML stack!

### Is your feature requ

[2022-08-30 05:15] kargarisaac opened #869 "[FEATURE]: passing arguments which are not the result of previous steps into steps"
### Describe the feature you'd like

I really like to pass arguments which are not the output of previous steps to a new step. It's useful for ML models hyperparameter tuning.

Right now I have to run the pipeline several times for several set of hyperparameters or use the trick in [this notebook](https://github.com/zenml-io/zenbytes/blob/main/2-1_Experiment_Tracking.ipynb) which again runs the pi

[2022-08-30 10:27] Coder-Vishali opened #870 "[BUG]: Resuming provisioned resources for stack local_kbflow_stack"
### Contact Details [Optional]

vishalisrinivasan97@gmail.com

### System Information

ZenML version: 0.12.0
Install path: C:\Users\vsriniva\Anaconda3\Lib\site-packages\zenml
Python version: 3.8.8
Platform information: {'os': 'windows', 'windows_version_release': '10', 'windows_version': '10.0.19041', 'windows_version_service_pack': 'SP0', 'windows_version_os_type': 'Multiprocessor Free'}
Environm

[2022-08-30 10:34] htahir1 commented on #869
Basically you're looking for a tuner component, which does hyper-parameter tuning and tracks things in an experiment tracking stack component. We have this on our radar (https://zenml.hellonext.co/p/enable-hyper-parameter-tuning) and will get to it soon and potentially unlock this feature

[2022-08-30 11:39] kargarisaac commented on #869
Thanks for the link. exactly :)

[2022-08-30 17:54] amirhessam88 commented on #756
Hey @stefannica
@RoyerRamirez and I are still experiencing this issue (btw @strangemonad explained it in details in his notes above); I am wondering if this is already on your radar.

[2022-08-31 15:34] stefannica commented on #870
This should be solved by installing and running everything (zenml, k3d, kubectl, the jupyter notebook) inside WSL. Running the notebook in Windows and k3d in WSL does not work properly, because k3d cannot properly mount Windows paths (e.g. `C:\Users\vsriniva\AppData\Roaming\zenml`) inside Linux containers.

[2022-09-01 07:40] Coder-Vishali commented on #870
Thanks for the response Stefan! I will check with WSL then.

[2022-09-01 07:40] #870 closed

[2022-09-01 09:41] htahir1 commented on #869
I will close this issue as we are tracking it on Hellonext :-)

[2022-09-01 09:41] #869 closed

[2022-09-01 12:36] htahir1 commented on #756
@amirhessam88 With the new changes we are undergoing this issue will resolve itself. For now maybe one of @fa9r @stefannica or @schustmi can  help?

[2022-09-02 10:37] dnth commented on #863
Hello @rafaelvp-db I've created a feature request on our Roadmap. You can view it by following the link below.

https://zenml.hellonext.co/p/support-for-databricks-workflows-databricks-model-serving

I'll close this for now and let's get the community excited with this feature!
Thank you :)

[2022-09-02 10:37] #863 closed

[2022-09-05 05:57] Coder-Vishali opened #874 "[BUG]: StepInterfaceError: Unable to find materializer for output 'output' of type `<class 'keras.engine.training.Model'>` in step 'trainer'."
### Contact Details [Optional]

vishalisrinivasan97@gmail.com

### System Information

ZenML version: 0.13.1
Install path: /home/<username>/.pyenv/versions/3.7.6/lib/python3.7/site-packages/zenml
Python version: 3.7.6
Platform information: {'os': 'linux', 'linux_distro': 'ubuntu', 'linux_distro_like': 'debian', 'linux_distro_version': '18.04'}
Environment: native
Integrations: ['kubeflow', 'kubern

[2022-09-05 06:00] Coder-Vishali opened #875 "[BUG]: Error: Unable to resume resources for KubeflowOrchestrator"
### Contact Details [Optional]

vishalisrinivasan97@gmail.com

### System Information

ZenML version: 0.13.1
Install path: /home/<username>/.pyenv/versions/3.7.6/lib/python3.7/site-packages/zenml
Python version: 3.7.6
Platform information: {'os': 'linux', 'linux_distro': 'ubuntu', 'linux_distro_like': 'debian', 'linux_distro_version': '18.04'}
Environment: native
Integrations: ['kubeflow', 'kubern

[2022-09-06 07:38] jsuchome opened #876 "[BUG]: docker image build does not produce useful error message"
### Contact Details [Optional]

_No response_

### System Information

ZenML version: 0.13.1
Install path: /home/jiri/miniconda3/envs/shipamax-training/lib/python3.7/site-packages/zenml
Python version: 3.7.11
Platform information: {'os': 'linux', 'linux_distro': 'ubuntu', 'linux_distro_like': 'debian', 'linux_distro_version': '20.04'}
Environment: native
Integrations: ['aws', 'dash', 'mlflow', 'pl

[2022-09-06 07:46] schustmi commented on #876
Hey @jsuchome, can you try running with `ZENML_LOGGING_VERBOSITY=DEBUG` to see if the docker build logs include clearer error messages?

[2022-09-06 08:04] jsuchome commented on #876
Yes. In the loads of debug messages (which I do not need to see) I can find the pip error from the docker build:
[code]

[2022-09-06 08:08] schustmi commented on #876
Yeah agreed, just wanted to check if it's included in the docker logs. I'll see if I can include it for all log levels

[2022-09-07 07:39] stefannica commented on #875
Hello @Coder-Vishali ,

There's an error message in your log output that might indicate why the deployment is failing:

[code]

It's tough to say exactly why this is failing, but here are some possible reasons:

* you don't have git installed on your machine
* you may have an older kubectl version installed. Try to install a more recent one.
* you may have run into temporary internet connection is

[2022-09-07 07:43] stefannica commented on #754
We're now publishing a `zenmldocker/zenml-server` specifically tailored for running the ZenML server and the docs have been updated to reflect this. This should have fixed your problem @atanikan , so I'm closing this issue. Please reopen it if that's not the case.

[2022-09-07 07:43] #754 closed

[2022-09-07 09:07] Coder-Vishali commented on #875
Thanks for the pointers Stefan. I will debug on this further.

[2022-09-07 11:15] Coder-Vishali commented on #875
Hey Stefan,

When I try to rerun the command again. It says "Failed Cluster start"

Running with active profile: 'default' (local)
Provisioning resources for active stack 'local_kube_stack'.
Provisioning resources for stack 'local_kube_stack'.
Provisioning local Kubeflow Pipelines deployment...
Creating local K3D cluster 'zenml-kubeflow-c6d03f6a'.
WARN[0000] No node filter specified
INFO[0000] Pre

[2022-09-07 12:20] stefannica commented on #875
```driver failed programming external connectivity on endpoint k3d-zenml-kubeflow-registry.localhost (95a25a630be43991766cf9b4d8b8c2d6130dd454bf32e3350f94945fe0899ae7): Error starting userland proxy: listen tcp4 0.0.0.0:5000: bind: address already in use```

Something else on your machine is using port 5000. Probably a k3d registry left over from a previous run. I recommend that you use the `k3d c

[2022-09-08 05:14] Coder-Vishali commented on #875
@stefannica, you were right. Port 5000 was in use. I stopped the service and rerun it. Now, cluster is getting created but I still see the error: error: git cmd = '/usr/bin/git fetch --depth=1 origin 1.8.1': exit status 128

I have checked the possible reasons for failure:
- Ensure git is installed (git version 2.17.1)
- Checked the kubectl version. It's the latest version.
Client Version: version

[2022-09-08 08:55] dudeperf3ct opened #885 "[FEATURE]: Aggregating all metrics under one experiment"
### Contact Details [Optional]

_No response_

### Describe the feature you'd like

Using MLflow as an experiment tracker, having one experiment track all metrics across pipelines is useful. The current behavior is different metrics get logged in a separate pipeline as a different experiment.

### Is your feature request related to a problem?

We have a use-case where there are 2 pipelines, traini

[2022-09-08 09:01] dnth commented on #885
Thank you for the ticket @dudeperf3ct ! Feature requests now go to our roadmap where other community members can also vote for them! Could you perhaps make a ticket here: https://zenml.hellonext.co/b/feedback

[2022-09-08 10:52] ahmadmustafaanis commented on #874
I am getting the same error for my code.
Here is my code
[code]
The error is
[code]

[2022-09-08 16:27] stefannica commented on #875
@Coder-Vishali I'm afraid there are some inconsistencies in your findings that I just can't explain without directly interacting with your setup. Do you think you could get someone with kubernetes experience to take a look at your Kubeflow installation ?

The only thing I can think of is that you may have not executed the commands correctly. Please note that the `&` character has a special meaning

[2022-09-09 06:35] Coder-Vishali commented on #875
@stefannica, I have tried to uninstall the git and reinstalled it again. As you suggested I gave quotes for github link. I tried running the commands manually mentioned in the log output. I have reached till the last command.

While executing the last (below) command, I face issue saying unable to forward port because pod is not running.
!kubectl --context k3d-zenml-kubeflow-607609f8 --namespace k

[2022-09-09 06:38] dudeperf3ct commented on #874
@ahmadmustafaanis the error you are getting is because there's no materializer written for type `<class 'keras.engine.sequential.Sequential'>`.

The code should run if you replace `tf.keras.Sequential` with `tf.keras.Model` since Sequential [inherits](https://www.tensorflow.org/api_docs/python/tf/keras/Sequential) from Model class.

[2022-09-09 07:02] Coder-Vishali commented on #875
I suspect there is some kind of firewall issue. After connecting with different network the "zenml stack up" command was successfully executed.

Output:
Running with active profile: 'default' (local)
Provisioning resources for active stack 'local_kube_stack'.
Provisioning resources for stack 'local_kube_stack'.
Provisioning local Kubeflow Pipelines deployment...
Creating local K3D cluster 'zenml-k

[2022-09-10 15:45] ahmadmustafaanis commented on #874
@dudeperf3ct I am still getting this error.
[code]
the function
[code]

[2022-09-12 14:51] #875 closed

[2022-09-12 15:11] TimovNiedek opened #887 "[BUG] Great Expectations "exit_on_error" raises TypeError regardless of success"
## Checks

* [x] I added a descriptive title to this issue
* [x] I have searched (google, github) for similar issues and couldn't find anything
* [x] I have read and followed [the docs](https://docs.zenml.io/) and still think this is a bug

## General

Using the Great Expectations integration through the `GreatExpectationsValidatorStep` with `exit_on_error=True` causes a type error:

[code]

Looki

[2022-09-13 15:06] schustmi commented on #876
This is included in the latest 0.13.2 release @jsuchome

[2022-09-14 21:49] NimaSarajpoor opened #893 "[BUG]: cannot run zenml go"
### Contact Details [Optional]

nimasarajpoor@gmail.com

### System Information

[code]

### What happened?

I am completely new to this ZenML :) So, please forgive me if my question sounds lame :) I cannot figure out how to run `zenml go`, as suggested in the README. I am using `git bash` (on windows), and I did `pip install zenml`. I then did `pip show zenml` to make sure  I install everything.

[2022-09-14 21:55] NimaSarajpoor commented on #893
**Update**
I changed CLI and it seems it is resolved!

[2022-09-15 05:46] dnth commented on #893
Shall we close this issue then? :)

[2022-09-15 05:58] NimaSarajpoor commented on #893
@dnth
Sure. I do not know why I kept it open. I am going to close it.

[2022-09-15 05:58] #893 closed

[2022-09-15 06:45] dudeperf3ct commented on #874
@ahmadmustafaanis what version of zenml are you using? I am able to run the pipeline using the following code.

[code]

[2022-09-15 07:40] ahmadmustafaanis commented on #874
My version is
[code]

[2022-09-15 11:36] #887 closed

[2022-09-16 06:30] dnth commented on #874
@ahmadmustafaanis I'm able to run @dudeperf3ct code with `zenml==0.13.1` and `zenml==0.13.0`

Did you install tensorflow using pip? Or using zenml integration eg `zenml integration install tensorflow`?

[2022-09-16 07:40] ahmadmustafaanis commented on #874
Yes I installed it via pip, not integrated via zenml.

I guess that's the issue, I'll try with zenml integration this weekend.

[2022-09-16 08:03] dnth commented on #874
@ahmadmustafaanis quite possibly. Using the zenml integration install makes sure the package is installed correctly. Keep us updated here! :))

[2022-09-17 09:54] Aleksandar1932 opened #896 "[FEATURE]: ClearML integration"
### Contact Details

aleksandar.ivanovski123@gmail.com

### Describe the feature you'd like

I would propose integration with [ClearML](https://clear.ml), mainly for the popularity of the platform and it's broad array of implemented MLOps practices, spanning from experiment tracking to production model serving.

### How do you solve your current problem with the current status-quo of ZenML?

I am

[2022-09-17 13:22] htahir1 commented on #896
Thank you for the ticket @Aleksandar1932  ! Feature requests now go to our roadmap where other community members can also vote for them! Could you perhaps make a ticket here: https://zenml.hellonext.co/b/feedback

Having said that I think a ClearML integration would be amazing as well - can you share the way you write the steps right now with the ClearML SDK?

[2022-09-17 18:40] ahmadmustafaanis commented on #874
@dnth Thanks, working like charm now.

[2022-09-19 07:33] dnth commented on #874
@ahmadmustafaanis yes, for every object that passes through the pipeline, you need to tell zenml how to serialize/deserialize it. In this way this object can be cached and stored. In zenml this is done using something called a Materializer. For most Python objects you don't need to write your own Materializer, these are already builtin within zenml. But for custom objects you'd need to write a cus

[2022-09-19 07:34] dnth commented on #874
@dudeperf3ct any chance this also solves your issue? :)

[2022-09-19 07:35] dudeperf3ct commented on #874
@dnth i didn't face any issue ... i was helping in resolving the issue

[2022-09-19 07:36] dnth commented on #874
I see.. sorry I misunderstood! Thank you so much for your help!

[2022-09-19 07:36] dnth commented on #874
@Coder-Vishali please let us know if this solves the issue for you :)

[2022-09-19 09:41] htahir1 commented on #896
Feature request moved here: https://zenml.hellonext.co/p/integration-with-clearml

[2022-09-19 09:41] #896 closed

[2022-09-23 12:46] Karamya commented on #687
Any updates on this issue. Tried completely new python environments with different python versions (3.7.x, 3,8.x and 3.9.x) and it is impossible to install zenml on Mac M1.  Tried different versions of Tensorflow with and without M1 processor support.  Will wait for the updates before exploring zenml. Thanks

[2022-09-26 18:52] mHash1m opened #903 "Change MLFlow Experiment name from pipeline name"
It seems zenml sets experiment name to pipeline and even overrides `mlflow.set_experiment()`.

https://github.com/zenml-io/zenml/blob/116a72f8973002f49b7a63898403a0ef8cdd1c65/src/zenml/integrations/mlflow/experiment_trackers/mlflow_experiment_tracker.py#L325

Is there any way to change the experiment name and keep run names as pipeline names? I'm currently using the decorator `@enable_mlflow`

[2022-09-27 16:13] htahir1 commented on #903
With the new version of ZenML on the horizon, the mlflow experiment tracker is a bit more flexible. Lets wait for the release next week and try to tackle this issue then

[2022-09-28 06:45] dnth commented on #885
Hi there @dudeperf3ct I've added the feature suggestion added to the Roadmap on Hellonext

https://zenml.hellonext.co/p/aggregating-all-metrics-under-one-experiment

As ZenML is open source, we rely on community contributions to support new features.
Please let us know if you or anyone you know might be able work on this feature.

Thank you again! :)

[2022-09-28 06:45] #885 closed

[2022-09-28 06:49] dnth commented on #874
@Coder-Vishali I'm closing this issue due to inactivity. Please let us know if the solution provided worked for you. Feel free to reopen if the problem still persists :)

[2022-09-28 06:49] #874 closed

[2022-09-28 06:57] mHash1m commented on #903
Awesome!

[2022-10-08 20:53] htahir1 commented on #903
@mHash1m With the new version, you can now do it like you used too but with a new syntax: https://docs.zenml.io/component-gallery/experiment-trackers/mlflow#how-do-you-use-it. Closing this issue with that update!

[2022-10-08 20:53] #903 closed

[2022-10-13 16:21] lopezco opened #965 "[BUG]: Zen-server kubernetes deployment with helm chart stuck at `INFO:asyncio:Syncing pipeline runs...`"
### Contact Details [Optional]

_No response_

### System Information

zenml==0.20.3

### What happened?

Helm chart creates pod and start server but it stays at the stage: `INFO:asyncio:Syncing pipeline runs...`

We used the helm chart provided by Zenml at `/src/zenml/zen_server/deploy/helm` with a pre-existing MySQL used with previous version of Zenml.

### Reproduction steps

1. Use the helm ch

[2022-10-13 16:42] stefannica commented on #965
@lopezco many thanks for filing this. The `Syncing pipeline runs` log message that you see is something that happens every few seconds or so on the server, so it shouldn't be interpreted as the server being stuck.

What is relevant though is the fact that the zenml server listens on the loopback interface instead of the "all interfaces" 0.0.0.0 IP address. Here's a log extracted from one of the se

[2022-10-13 20:38] #770 closed

[2022-10-14 09:22] lopezco commented on #965
You are right, I needed to override the entrypoint in the helm chart to first source an env file that I inject to the pod with an init container.
I added the CMD content to the overridden  entrypoint and it worked!
Thanks for the help! 😄

[2022-10-14 09:22] #965 closed

[2022-10-14 12:00] lopezco opened #969 "[BUG]: Broken link to stack-components documentation on Zenserver"
### Contact Details [Optional]

_No response_

### System Information

v0.20.3

### What happened?

![image](https://user-images.githubusercontent.com/6637618/195841634-52b5b20e-2682-45db-b9e3-b7b43d382f53.png)

`Documentation` link is broken. It redirects to: https://docs.zenml.io/starter-guide/stacks/stacks-components

### Reproduction steps

1.
2.
3.
...

### Relevant log output

_No response_

[2022-10-14 12:37] lopezco opened #970 "[BUG]: Mock data showing up spuriosly on deployed ZenML"
### Contact Details [Optional]

_No response_

### System Information

- zenml==0.20.3
- Brave browser (v1.44.112 - Oct 12th, 2022)

### What happened?

I deployed Zenml server using the helm chart on an existing Kubernetes cluster.

I login as default user (name=Admin) and leave the browser tab open.

After a while, I come back and the user name on top is `Hamza Tahir` (@hamzamaiot ).  Like below

[2022-10-14 12:40] htahir1 commented on #970
@lopezco Yes, the names are currently hard-coded as mock data and spuriously show up when there is some error in the back (e.g. some problem connecting to the API). We are removing the hard-coded mock data in the next releases, but I fear I do not have enough information to debug why this is happening for you. Can you open the network tab and see if the API calls being made from the dashboard are

[2022-10-14 12:41] htahir1 commented on #969
Thank you for the report!

[2022-10-14 16:35] srini047 opened #974 "[BUG]: Facing AttributeError while using zenml up command in Windows 11 (Local)"
### Contact Details [Optional]

srinikethcr7@gmail.com

### System Information

ZenML version: 0.20.2
Install path: C:\Users\Sriniketh J\AppData\Local\Programs\Python\Python39\Lib\site-packages\zenml
Python version: 3.9.11
Platform information: {'os': 'windows', 'windows_version_release': '10', 'windows_version': '10.0.22000', 'windows_version_service_pack': 'SP0', 'windows_version_os_type': 'Mult

[2022-10-14 16:37] srini047 commented on #974
- Possible [fix](https://stackoverflow.com/questions/34207093/python-code-works-in-ubuntu-14-04-but-not-in-win8-1)
- File (line numbers) causing the issue: https://github.com/zenml-io/zenml/blob/main/src/zenml/utils/networking_utils.py#L39-L40

[2022-10-14 17:09] lopezco commented on #970
I think that the fact taht we have a self-signed cert is causing problems:
![image](https://user-images.githubusercontent.com/6637618/195903326-05e0c67b-06c3-4885-81f6-23b31c83fc70.png)

![image](https://user-images.githubusercontent.com/6637618/195903202-ea980a54-3064-4583-8791-db05a1e1c576.png)

We will get that fixed and I'll test again.

[2022-10-14 20:30] hamzamaiot commented on #970
You can also visit the API URL directly on the browser and "allow insecure
access" and then the dashboard should work in the same browser session

On Fri, 14 Oct 2022, 19:10 José Lopez, ***@***.***> wrote:

[2022-10-15 13:13] htahir1 commented on #969
I fixed this with this commit: https://github.com/zenml-io/zenml-dashboard/commit/82c36d10ff5a566619727832c7d05ed4cc5036b5

[2022-10-15 13:13] #969 closed

[2022-10-17 06:08] dnth commented on #974
Hi @srini047 thank you for reporting it here!

[2022-10-17 10:33] lopezco commented on #970
@hamzamaiot, it worked.
We will fix the cert issue ASAP

On another subject, I realised that there is a 404 on `/api/v1/organizations`, but that is another issue

![image](https://user-images.githubusercontent.com/6637618/196155934-62f8fd52-51a1-4bfd-acc3-93a68022e1ea.png)

[2022-10-17 10:33] #970 closed

[2022-10-18 08:37] Erdene-Ochir0417 opened #980 "[Feature]: Support for Lightning-flash"
## Describe the feature you'd like
Lightning-Flash is high-level deep learning framework for fast development and deployment.

It would be nice to have as part of the ZenML stack.

## How do you solve your current problem with the current status-quo of ZenML?
Currently, we used Custom Materializer to store and load artifacts by following this [link](https://docs.zenml.io/advanced-guide/pipelines/m

[2022-10-18 10:21] htahir1 commented on #980
Thanks for the feature request! Usually feature requests go [here](https://zenml.io/discussion) but ill keep this thread open to ask you the following:

Could you paste in your custom materializer and pipeline code so we can debug it? It would help is in supporting lightning flash better

[2022-10-19 03:14] Erdene-Ochir0417 commented on #980
I have followed simple tutorial provided by lightning flash. And here is the [link](https://lightning-flash.readthedocs.io/en/latest/reference/image_classification.html)

[code]

[2022-10-19 08:40] mHash1m commented on #903
Hi @htahir1, I just got to update to the latest version and try this out again, unfortunately I still couldn't make it work. Couldn't find any particular setting that would make any changes.
Following is how I'm currently setting up experiments in code:
[code]
What I get as a result is an experiment with the name of my pipeline run that has all that logs, and an empty experiment that I had set wit

[2022-10-19 12:44] htahir1 commented on #980
@Erdene-Ochir0417

Ah, you just unveiled a bug in our docs! The `.configure()` function does not return the step in the latest  change, as the docs incorrectly stated! Thank you so much for the report. I took the liberty of finishing off your work. there were some other minor bugs around `json.loads()` and also the fact that it has to be under `__main__ == __name__` block:

[code]

If you would li

[2022-10-19 13:26] #600 closed

[2022-10-19 13:27] htahir1 commented on #687
@Karamya We have now a dedicated guide just for this: https://docs.zenml.io/getting-started/installation/m1-mac-installation

[2022-10-19 13:28] #718 closed

[2022-10-19 13:28] #788 closed

[2022-10-19 13:29] htahir1 commented on #756
With the new release, there is no metadata store, so I would ask @strangemonad to close the issue if they think its fine? :-)

[2022-10-19 14:38] htahir1 commented on #903
Sure! You can set the experiment name now with the settings flag
!
Basically:

[code]
See https://docs.zenml.io/component-gallery/experiment-trackers/mlflow
and [https://apidocs.zenml.io/0.20.4/api_docs/integrations/#zenml.integrations.mlflow.flavors.mlflow_expe[…]racker_flavor.MLFlowExperimentTrackerSettings](https://apidocs.zenml.io/0.20.4/api_docs/integrations/#zenml.integrations.mlflow.flavors

[2022-10-20 08:44] mHash1m commented on #903
Ah, I missed that.
Thank you so much, its working now!

[2022-10-20 13:00] htahir1 commented on #756
@amirhessam88 We are racing towards 1.0.0! Cant promise a date yet but I would say the biggest changes are behind us with the architecture change. Maybe some stuff will change around database schemas when we drop MLMD as a dependency and secret managers might move out of the stack, but that is all migratable. I will close the issue now - let us know how your upgrade goes!

[2022-10-20 13:00] #756 closed

[2022-10-21 11:15] #727 closed

[2022-10-21 11:28] schustmi commented on #845
This is a limitation of the docker library which we unfortunately can't influence, but we included a reference to the `DOCKER_CONFIG` environment variable in our docs here https://docs.zenml.io/advanced-guide/pipelines/containerization

[2022-10-21 11:28] #845 closed

[2022-10-21 11:35] schustmi commented on #269
Closing this as we're going in a different direction with this CLI call now that the ZenML server is able to register pipelines.

[2022-10-21 11:35] #269 closed

[2022-10-21 11:52] #619 closed

[2022-10-21 17:22] htahir1 commented on #974
This should be  fixed with 0.20.5 :-) . Please reopen if you run into it again @srini047 !

[2022-10-21 17:22] #974 closed

[2022-10-24 15:51] francobocciDH opened #1001 "[BUG]: Vertex AI blogpost is outdated after 0.20.0 release"
### Contact Details [Optional]

francogbocci@gmail.com

### System Information

ZenML version: 0.20.5
Install path: /Users/f.bocci/Library/Caches/pypoetry/virtualenvs/banana-bMSm4ime-py3.9/lib/python3.9/site-packages/zenml
Python version: 3.9.6
Platform information: {'os': 'mac', 'mac_version': '10.15.7'}
Environment: native
Integrations: ['gcp', 'graphviz', 'kubeflow', 'kubernetes', 'scipy', 'skl

[2022-10-24 15:54] htahir1 commented on #1001
@francobocciDH Thanks for reporting the issue. We have recently undergone a [big architectural shift](https://blog.zenml.io/zenml-revamped/) and therefore a lot of the blog is a bit outdated! In particular, the metadata store is no longer a required stack component.

In order to make the vertex orchestrator work, I would suggest either taking a look at the [updated docs page](https://docs.zenml.io

[2022-10-24 16:02] francobocciDH commented on #1001
Hey! Thanks for the quick reply. I followed the updated docs page at first. When launching the pipeline, I'm getting an error that I assume it's due to a non migrating component:
[code]
(I'm sorry about the format of the log, Cloud logging provides them like this :( )

In case it's useful, this is the config I'm using:
[code]

[2022-10-24 21:14] schustmi commented on #729
Fixed by #998

[2022-10-24 21:14] #729 closed

[2022-10-25 01:03] testdepthanalytics commented on #620
@strickvl is this still open? looking for a good spot to start contributing

[2022-10-25 04:07] #847 closed

[2022-10-25 05:32] htahir1 commented on #980
@Erdene-Ochir0417 Let me know if it worked please so I can close the issue :-)

[2022-10-25 06:04] Erdene-Ochir0417 commented on #980
@htahir1
I apologize for the delay in my response. It works correctly. I will close the issue. Thank you.

[2022-10-25 06:04] #980 closed

[2022-10-25 10:13] francobocciDH commented on #1001
I downloaded the image, got into the container and launch the entrypoint being used in Vertex AI:
`python -m zenml.entrypoints.entrypoint --entrypoint_config_source zenml.integrations.gcp.orchestrators.vertex_entrypoint_configuration.VertexEntrypointConfiguration@zenml_0.20.5 --step_name importer --vertex_job_id test1234`

And I got the same error. After that, I ran the ZenML Server (`zenml up`),

[2022-10-25 10:54] strickvl commented on #620
Thanks for asking, @testdepthanalytics! I'm unsure of the status of this on the side of @Tob-iee. (Are you still working on it, @Tob-iee?)

I'll also take a look to see if there are any other issues that we have available currently and add them to the issues board as appropriate.

[2022-10-25 10:57] francobocciDH commented on #1001
I made it work locally. I had to:
1) Register the `artifact-store` using GCS
2) Set it as the artifact-store in the "default" stack
3) Start zenml server

Should this be done in some specific way by the user?

[2022-10-25 20:17] htahir1 commented on #1001
@francobocciDH I think the main problem you are suffering from is that you have not deployed ZenML on Google before doing all this. Its our fault as I see that the Vertex orchestrator guide does not make this clear at all (only if you read the docs from the top, it does).

Please try [deploying ZenML](https://docs.zenml.io/getting-started/deploying-zenml) to google first. The easiest way to do it

[2022-10-26 13:31] ghpu opened #1011 "[BUG]: Code versioning, cache invalidation, and git sha commit"
### System Information

ZenML version: 0.20.5
Install path: /opt/anaconda3/lib/python3.9/site-packages/zenml
Python version: 3.9.7
Platform information: {'os': 'linux', 'linux_distro': 'ubuntu', 'linux_distro_like': 'debian', 'linux_distro_version': '22.10'}
Environment: native
Integrations: ['github', 'huggingface', 'pillow', 'plotly', 'pytorch', 'pytorch_lightning', 'scipy', 'sklearn']

### What

[2022-10-26 13:39] ghpu commented on #1011
As a work-around, I could extract git commit, and push it into a BaseParameter class.

[2022-10-26 13:58] strickvl opened #1013 "[FEATURE]: Update Evidently integration to include `TestSuite`"
ZenML currently offers a [built-in integration](https://zenml.io/integrations/evidently) with [Evidently's monitoring tool](https://github.com/evidentlyai/evidently/). The integration is currently pinned to version 0.1.52dev0, so this ticket would include

- updating the pinned version to the most recent in `src/zenml/integrations/evidently/__init__.py`
- adding in relevant functionality to enable

[2022-10-26 14:04] strickvl opened #1014 "[FEATURE]: Validate slack alerter credentials on registration"
We currently allow the registration of the slack alerter (via the CLI) but we don’t validate that the credentials are sound at that exact moment. If someone uses the wrong credentials, they will get an error message when using the alerter (e.g. when running [the Slack Alerter example](https://github.com/zenml-io/zenml/tree/develop/examples/slack_alert)).

The experience would be cleaner if the use

[2022-10-26 14:09] schustmi commented on #1011
Correct, ZenML caching currently works by inspecting the parameters of the step as well as the source code of the step function. Detecting and inspecting all the functions that a step calls as shown in your example is not implemented as that would be quite complicated and require parsing of the AST.

We've considered using the git sha as the caching indicator as well, but it comes with its own lim

[2022-10-26 14:12] strickvl opened #1015 "[FEATURE]: Enable recursive deletion of a stack including all stack components"
ZenML's `zenml stack delete ...` CLI command will currently delete your stack, but any stack components that were part of it aren't deleted.

This feature would enable this functionality such that when you delete a stack, all the stack components that are part of it would be deleted as well. Included as part of the work:

- full unit testing for this new functionality
- adding a new flag for the `

[2022-10-26 14:28] ghpu commented on #1011
You are right that AST parsing is probably not the solution, especially with sadists like me who fancy having dynamic calls (through getattr ), and dynamically tracing the code is no solution either.

I woud like the git commit hash approach, if I could define which folders to watch (maybe pipelines and steps by default).

[2022-10-26 14:29] ghpu commented on #1011
An alternative could be to declaratively specify dependency functions to checksum and track in a new step parameter)

[2022-10-27 10:34] schustmi commented on #1011
I agree, no matter if we go with git sha or the source code to check if code has changed, we could definitely make it customizable as you described. I'll discuss this internally if the rest of the team agrees and when we can get to it.

[2022-11-02 08:09] htahir1 commented on #1001
@francobocciDH Did this work out?

[2022-11-02 10:49] ghpu opened #1030 "[BUG]: last_runs missing last run"
### System Information

ZenML version: 0.20.5
Install path: /opt/anaconda3/lib/python3.9/site-packages/zenml
Python version: 3.9.7
Platform information: {'os': 'linux', 'linux_distro': 'ubuntu', 'linux_distro_like': 'debian', 'linux_distro_version': '22.10'}
Environment: native
Integrations: ['github', 'huggingface', 'pillow', 'plotly', 'pytorch', 'pytorch_lightning', 'scipy', 'sklearn']

### What

[2022-11-02 10:55] ghpu commented on #1030
The "evaluation_pipeline-02_Nov_22-11_43_48_846638" becomes listed if I run the pipeline again. But this time the "new" last_run is missing.

[code]

[2022-11-02 11:02] ghpu commented on #1030
It only occurs when ZenML local server is up !

[2022-11-02 11:35] francobocciDH commented on #1001
Hey @htahir1 , yes, I deployed it and it worked. It could be clearer in the Vertex AI section of the docs, but it is clearly mentioned in other places of the documentation, so it's my fault for missing this. We can close this from my side. Let me know if there is anything I can help with 👍

[2022-11-03 10:40] htahir1 commented on #1030
@ghpu This is a syncing issue and will be fixed in the release that is coming up shortly (next few hours)

[2022-11-03 10:42] htahir1 commented on #1011
@ghpu Perhaps we can shift these ideas to this issue on the roadmap made by @jsuchome https://zenml.hellonext.co/p/configure-caching-behavior-based-on-step-input-output

Maybe  we can combine and consolidate it there and close this issue?

[2022-11-03 10:42] #1001 closed

[2022-11-03 10:43] htahir1 commented on #839
@alarivarmann Did you try this again? Did it work out? Perhaps we can close it if it worked for you

[2022-11-04 10:43] ghpu commented on #1030
It is working with v 0.21.0.

[2022-11-04 10:43] #1030 closed

[2022-11-04 12:08] #1011 closed

[2022-11-04 16:41] wefner opened #1043 "[BUG]: Stack with ID <UUID> not found"
### Contact Details [Optional]

_No response_

### System Information

ZenML version: 0.21.0
Install path: /usr/local/lib/python3.9/site-packages/zenml
Python version: 3.9.15
Platform information: {'os': 'linux', 'linux_distro': 'debian', 'linux_distro_like': '', 'linux_distro_version': '10'}
Environment: docker
Integrations: ['aws', 'kubeflow', 'kubernetes', 's3', 'scipy']

---
Also observed with

[2022-11-07 07:46] alarivarmann commented on #839
If I remember correctly, I still had some issue with this. I would probably have remembered if it worked right away. I could get back at you earliest some time next week because this week is very packed for me, if you still wish to debug automated imports/exports. Otherwise maybe close the issue. Just a note that if a user cannot be sure that the functionality works as described in the docs, then

[2022-11-07 10:24] wefner commented on #1043
I can confirm this was working with versions 0.20.3 and 0.20.4. I'm starting to see the issue in >=0.20.5

[2022-11-09 15:02] htahir1 commented on #1043
@wefner Are you using a local ZenML server or a deployed one? A local ZenML instance does not work with remote components like Kubeflow deployed on the cloud. You need to deploy ZenML first in order for Kubeflow to be able to access that stack ID

[2022-11-11 14:54] wefner commented on #1043
Indeed. This was working fine with version <0.20.5 but stopped since then for some reason.

Having a ZenML server on the cluster, registering the stacks, and then using the client to connect to it fixed the issue 👍🏿

[2022-11-11 14:54] #1043 closed

[2022-11-12 10:57] ghpu opened #1065 "[BUG]: Parameter content incorrectly coerced"
### Contact Details [Optional]

_No response_

### System Information

ZenML version: 0.21.1
Install path: /opt/anaconda3/lib/python3.9/site-packages/zenml
Python version: 3.9.7
Platform information: {'os': 'linux', 'linux_distro': 'ubuntu', 'linux_distro_like': 'debian', 'linux_distro_version': '22.10'}
Environment: native
Integrations: ['github', 'huggingface', 'pillow', 'plotly', 'pytorch', 'py

[2022-11-16 13:01] schustmi commented on #1065
As you said yourself, calling `repr(...)` and `eval(...)` to store and reconstruct these parameters is unsafe and not something we're willing to add.

Let me instead give you an alternate approaches which should work to reconstruct your tuples. This relies on the fact that ZenML `BaseParameters` are subclassing [pydantics](https://pydantic-docs.helpmanual.io/) `BaseModel`. Pydantic is used for val

[2022-11-17 08:03] ghpu commented on #1065
For ZenML, I would be mainly concerned about the json.dumps inducing automatic tuple to list  conversion, even if pydantic can then coerce them back, given the right schema. As a user, I have no means to detect that some information might be lost during parameter serialisation.

It doesn't feel like JSON is required anywhere in handling parameters (it supports numbers and string anyways), so I'd r

[2022-11-22 09:33] plattenschieber opened #1088 "[BUG]: secrets-manager logs runs into TypeError"
### System Information

[code]

### What happened?

Trying to gather logs from secrets-manager

### Reproduction steps

1. run `zenml secrets-manager logs`
2. Error 😅

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-11-22 12:56] schustmi commented on #1065
If we don't use json to serialize these more complex parameter types (e.g. tuples or dicts containing arbitrary data), we'd need to replace it with a different approach.

Enforcing just a single type on `BaseParameter` seems really bad from a user experience perspective.

The `json.dumps()` line that you highlighted that is used to convert each parameter separately will be removed in our ongoing M

[2022-11-23 12:15] AlexejPenner commented on #1088
Hey @plattenschieber , Thanks for your submission:

I think I understand what is going on here, it seems like ZenML isn't properly catching the fact that you did not specify a specific secrets-manager to get the logs for.

For the time being you should be able to run this command with the name of your secrets manager specified. In the meantime we'll fix the behavior of this CLI command.:

`zenml s

[2022-11-26 10:04] plattenschieber commented on #1088
Really cool, thanks a lot 🙏

[2022-11-26 10:04] #1088 closed